.serv-img{
  width: 100px;
 height: 100px;
 }
 .why-img{
     box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.13);
     width: 300px;
     height: 260px;
 }
 .why-img-2{
     box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.13);
     width: 400px;
     height: 260px;
 }
 
 #why-icon-1{
     background-image: -webkit-linear-gradient(40deg, #be2684 0%, #f577cf 100%);
 }
 #why-icon-2{
     background-image: -webkit-linear-gradient(40deg, #5e2ced 0%, #a485fd 100%);
 }
 #why-icon-3{
     background-image: -webkit-linear-gradient(40deg, #166120 0%, #60df0b 100%);
 }
 .why{
     font-family: Dosis;
     font-style: normal;
     font-weight: 600;
     font-size: 36px;
     color: #110366;
 }
 .why-2{
     font-family: Dosis;
     font-style: normal;
     color: #110366;
 }
 .app_service_area{
     padding-top: 0 !important ;
 }
 /* Range slider */
 .slidecontainer {
     width: 100%; /* Width of the outside container */
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   /* The slider itself */
   .my_slider {
     -webkit-appearance: none;  /* Override default CSS styles */
     appearance: none;
     width: 50%; /* Full-width */
     height: 20px; /* Specified height */
     background: #d3d3d3; /* Grey background */
     outline: none; /* Remove outline */
     opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
     -webkit-transition: .2s; /* 0.2 seconds transition on hover */
     transition: opacity .2s;
     border-radius: 20px;
   }
   
   /* Mouse-over effects */
   .my_slider:hover {
     opacity: 1; /* Fully shown on mouse-over */
   }
   
   /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
   .my_slider::-webkit-slider-thumb {
     -webkit-appearance: none; /* Override default look */
     appearance: none;
     width: 30px; /* Set a specific slider handle width */
     height: 30px; /* Slider handle height */
     background: #110366; /* Green background */
     cursor: pointer; /* Cursor on hover */
     border-radius: 20px;
   }
   
   .my_slider::-moz-range-thumb {
     width: 30px; /* Set a specific slider handle width */
     height: 30px; /* Slider handle height */
     background: #110366; /* Green background */
     cursor: pointer; /* Cursor on hover */
     border-radius: 20px;
   }
   .features_info{
       padding-bottom: 0;
   }
 
   .my-btn-1{
     background: linear-gradient(180deg, #2B0EDE 0%, #110366 100%);
     box-shadow: 0px 8px 10px rgba(18, 16, 17, 0.26);
     border-radius: 5px;
     padding: 10px;
   }
   .my-btn-1:hover{
     background: linear-gradient(180deg, #2B0EDE 0%, #110366 100%);
     box-shadow: 0px 8px 10px rgba(18, 16, 17, 0.26);
     border-radius: 5px;
     color: #fff;
   }
   .t_color12{
     color: #fff !important;
 
   }
   .btn_hover:hover{
     background-color: #110366 !important ;
     color: #fff;
   }
   .app_service_item .app_icon.one{
     color: #110366 !important;
     background-image: -webkit-linear-gradient(0deg, #110366 0%, #06031a 100%) !important;
   }
   .nav-link:hover{
     color: #000 !important;
 
   }
   /* .int{
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 15px;
     background: #FFFFFF;
   } */
   .f_bg{
     background: #000 !important;
   }
 
   .breadcrumb_area {
     background-image: -moz-linear-gradient(180deg, #110366 0%, #1801A2 100%);
     background-image: -webkit-linear-gradient(180deg, #110366 0%, #1801A2 100%);
   }
   .menu > .nav-item > .nav-link {
     font: 500 15px "Poppins", sans-serif;
     /* color: #fff !important; */
   }
 
   .app_view {
     right: 30px;
     top: 30px;
 }
 .portfolio_gallery .portfolio_item .portfolio_img .hover_content .app_view {
     width: 50px;
     height: 50px;
     font-size: 18px;
     line-height: 50px;
     text-align: center;
     right: 50px;
     top: 50px;
     border: 1px solid #fff;
     border-radius: 50%;
     color: #fff;
     -webkit-transform: scale(0.9);
     -ms-transform: scale(0.9);
     transform: scale(0.9);
     opacity: 0;
     -webkit-transition: all 0.3s ease-in;
     -o-transition: all 0.3s ease-in;
     transition: all 0.3s ease-in;
 }
 .fort-app{
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
 }
 
 .header_area.navbar_fixed .menu_four .nav-link {
   color: #563bd1;
 }
 .menu > .nav-item > .nav-link {
   color: #fff;
 }
 .blockquote li{
   text-decoration: none;
 }
 .app-faq{
   box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.13);
 }
 .breadcrumb_area{
   height: 200px !important;
 }
 .portfolio_gallery .portfolio_item .portfolio_img {
   width: 200px !important;
 }
 .app_screenshot_area .app_screenshot_slider .item .screenshot_img {
   border: 5px solid #c1c1c1;
   border-radius: 4px;
   width: 100px;
 }
 .mysub{
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid #fff;
   border-radius: 5px;
   color: grey;
 }
 .btn-sub{
   background: linear-gradient(180deg, #2B0EDE 0%, #110366 100%) !important;
   color: #fff;
   margin-top: 10px;
 }
 .btn-sub:hover{
   background-color: rgba(7, 7, 68, 0.041)!important;
   color: #fff;
   border: 1px solid #fff;
 }
 .f_widget.about-widget .f_list li a {
  color: #fff;
}
.t_color13{
  color: #fff;
}
.myimg-fluid-1 {
  height: 300px;
  object-fit: cover;
}

.myimg-fluid-2 {
  height: 400px;
  width: -webkit-fill-available;
  object-fit: cover;
}
.my-head h2{
  color: #110366 !important;
}

.jobsearch-table-cell {
  display: table-cell;
  vertical-align: middle;
  /* width: 75%; */
  line-height: 46px;
  width: 50% !important;
}
.joblisting_text {
  display: table-cell;
  vertical-align: middle;
  border-left: none !important;
  width: 100%;
  padding-left: 25px;
}
.acc_single{
  width: 250px !important;
  height: 200px !important;
}

.acc_img{
 height: 200px !important;
 width: 200px !important;
 object-fit: cover !important;
}


.list_item_tab{
  color: #fff !important;
  background: #110366 !important;
  width: 70px;
  text-align: center;
}
.list_item{
  border: 10px solid #E1E1E1 !important;
}
.job_listing .pagination .nav-links .page-numbers.current {
  background: #110366;
  color: #fff;
}
.header_area.navbar_fixed .menu_seven .btn_get {
  border-color: #110366;
  color: #110366;
}
.fact_author_img_two .box_three {
  background-image: -moz-linear-gradient(-90deg, #fb862f 0%, #c640fd 100%);
  background-image: -webkit-linear-gradient(-90deg, #e2025f 0%, #e4e4e4 100%);
  background-image: -ms-linear-gradient(-90deg, #fb862f 0%, #c640fd 100%);
}

.fact_author_img_two .box_four {
  background-image: -moz-linear-gradient(90deg, #5e2ced 0%, #a485fd 100%);
  background-image: -webkit-linear-gradient(90deg, #717171 0%, #d5d5d5 100%);
  background-image: -ms-linear-gradient(90deg, #5e2ced 0%, #a485fd 100%);
}
.btn_three{
  background: linear-gradient(180deg, #2B0EDE 0%, #110366 100%) !important;
  border: 1px solid #110366 !important;
}
.btn_three:hover{
  background: #fff !important;
  color: #110366 !important ;
  border: 1px solid #110366 !important;
}
.faq_content .tab-pane .card .card-header .btn {
  color: #110366 !important;
}
/* .owl-dots {
  text-align: center;
  bottom: 5px;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
}

.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127,127,127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-dot.active {
  background: rgba(127,127,127, 1);
<<<<<<< HEAD
} */

.case-study p{
  font-size: 15px !important;
}
.job_listing .job_list_tab {
  border-bottom: none;
}
.case-border{
    border: 15px solid  #efefef;
    width: 1200px;
    height: auto;
    background: #fff;
}
.nav-tabs {
  border-bottom: none; 
}
.d_product_content_two .develor_tab .nav-item .nav-link.active {
  color: #110366;
}
.payment_testimonial_info .testimonial_content {
    padding-left: 80px;
    position: relative;
    margin-top: 1px !important;
}

.payment_testimonial_area{

  background: #fafbff !important;
}
.case-size-1{
max-width: 40% !important;
}
.case-size-2{
  max-width: 100% !important;
}
.landing-img{
  display: inline-flex !important;
}
.land_img{
   height: 150px !important; 
  width: 150px !important;
  object-fit: cover !important;
 }
 .land_single{
   width: 200px !important;
   height: 150px !important;
 }
 .my-sel .select{
   display: none !important;
 }
 .loader{
   border: 16px solid #f3f3f3;
   border-radius: 50%;
   border-top: 16px solid #3498db;
   border-bottom: 16px solid red;
   border-right: 16px solid green;
   width: 50px;
   height: 50px;
   animation: spin 2s linear infinite;
 }
 @keyframes spin {
   0% { 
     transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
 }
 @-webkit-keyframe spin{
  0% { -webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg); }
}

.load{
  font-size: 0;
  background: transparent;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotate 1.4s linear infinite;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%) !important;
  border: 1px solid #110366 !important;
}

@keyframes rotate{
  0%{
    transform: rotate(360deg);
  }
}
 /* #id_imports{
   box-shadow: 0 1px 0 1px rgba(0,0,0,0.4);
 }
 #id_imports:hover{
   border-color: #888 !important;
 }
 #id_imports option{
   border-bottom: 1px solid #888 !important;
   padding: 50px !important;
 }
 #id_imports:active, #id_imports.active{
   color: #888 !important;
 }
 
 #id_imports option:hover{
   color: turquoise !important;
 } */

 #cat-drop{

 }
/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  /* content: "\25B6"; */
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}
/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.show {
  display: block;
}
.portfolio_img{
  background: #FFFFFF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 15px !important;
  height: 200px !important;
  justify-content: center;
  align-items: center;
}