
{% extends 'base-landing.html' %}

{% load static %}
{% block content %}
{% include 'header.html' %}


           
        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">FAQ</h1>
                </div>
            </div>
        </section>

        <section class="faq_area bg_color sec_pad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 pr_50">
                        <div class="faq_tab blog-sidebar">
                         <div class="widget sidebar_widget widget_search">
                                <form action="?{% url 'faqs:faq' %}" class="search-form input-group" method="GET">
                                    <!-- <input type="search" class="form-control widget_input" value="{{searchtext}}" placeholder="Search Faqs Here..."> -->
                                    <input type="search" class="form-control widget_input" name="search" value="{{request.GET.q}}" placeholder="Search Faqs Here...">
                                    <button type="submit" id="searchFaq"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            <h4 class="f_p t_color3 f_600 f_size_22 mb_40 ">Quick Navigation</h4>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
								{% for category in faqs %}
                                <li class="nav-item">
                                    <a class="nav-link" id="purchas-tab" data-toggle="tab" href="#purchas" role="tab" aria-controls="purchas" aria-selected="true">{{ category.category_name }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content faq_content" id="myTabContent">
								{% for category in faqs %}
                            <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
							{% if category.faq_category_set.count > 0 %}
                                <h3 class="f_p f_size_22 f_500 t_color3 mb_20">{{ category.category_name }}</h3>
								{% for faq in category.faq_category_set.all %}
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    {{faq.question}}<i class="ti-plus"></i><i class="ti-minus"></i>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                {{ faq.answer|safe }}
                                            </div>
                                        </div> 
                                    </div> 
										{% endfor %} 
									{% else %}
                					
									{% endif %}
                            </div>
							{% endfor %}
                            <div class="tab-pane fade" id="returns" role="tabpanel" aria-labelledby="returns-tab">
                                <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Visma eEkonomi</h3>
                                <div id="accordion3">
                                    <div class="card">
                                        <div class="card-header" id="heading10">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                                    How does bla bla work?<i class="ti-plus"></i><i class="ti-minus"></i>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapse10" class="collapse show" aria-labelledby="heading10" data-parent="#accordion3">
                                            <div class="card-body">
                                                Why I say old chap that is spiffing pukka, bamboozled wind up bugger buggered zonked hanky panky a blinding shot the little rotter, bubble and squeak vagabond cheeky bugger at public school pardon you bloke the BBC. Tickety-boo Elizabeth plastered matie.!
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
    	$('.side-link').on('click', function(event) {
    		var target = $(this.getAttribute('href'));
		    if( target.length ) {
		        event.preventDefault();
		        $('html, body').stop().animate({
		            scrollTop: target.offset().top
		        }, 1000);
		    }
		});

		$(window).scroll(function() {
		    var windscroll = $(window).scrollTop();
		    if (windscroll >= 100) {
		        $('.faq-container').each(function(i) {
		            if ($(this).position().top <= windscroll - 20) {
		                $('.side-nav ul li.is_active').removeClass('is_active color-pink');
		                $('.side-nav ul li').eq(i).addClass('is_active color-pink');
		            }
		        });

		    } else {
		        $('.side-nav ul li.is_active').removeClass('is_active color-pink');
		        $('.side-nav ul li:first').addClass('is_active color-pink');
		    }

		}).scroll();
    </script>
    <script>
    	$(document).ready(function(){
		    //Check to see if the window is top if not then display button
		    $(window).scroll(function(){
		        if ($(this).scrollTop() > 100) {
		            $('.scrollToTop').fadeIn();
		        } else {
		            $('.scrollToTop').fadeOut();
		        }
		    });

		    //Click event to scroll to top
		    $('.scrollToTop').click(function(){
		        $('html, body').animate({scrollTop : 0},800);
		        return false;
		    });

            if($(window).width() > 767)
            {
                var totalHeight = $('.main-content').height();
                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();
                    if (scroll >= totalHeight - 200) {
                        $('.desktop-size').addClass('after-style');
                        $('.desktop-size').removeClass('before-style');
                    }
                    else {
                        $('.desktop-size').removeClass('after-style');
                        $('.desktop-size').addClass('before-style');
                    }
                });
            }
            else{
                $('.mobilesScrollToTop').click(function(){
                    $('html, body').animate({scrollTop : 0},800);
                    return false;
                });
            }
		});
    </script>
{% include 'footer.html' %}
{% endblock %}