{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<div class="bs-example home-section">
    <div class="container">
        <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
        <div class="input-group">
            <input name="searchtext" value="" class="form-control" type="text" placeholder="Search Faq Here...">
            <span class="input-group-btn">
               <button class="btn btn-default" type="submit" id="searchFaq">
                   <i class="fa fa-search" aria-hidden="true"></i>
               </button>
            </span>
        </div>
    </form>
    </div>
    <div class="row">

        <div class="col-auto col-md-4 d-flex justify-content-center">
            <div class="mt-2 list-unstyled">
                <ul>
                    {% for category in faqs %}
                        <li><a href="#{{ category.id }}">{{ category.category_name }}</a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            {% for category in faqs %}
                <div id="{{ category.id }}">
                    <h1>{{ category.category_name }}</h1>
                </div>
                {% if category.faq_category_set.count > 0 %}
                    <div class="accordion" id="faq-section">
                        {% for faq in category.faq_category_set.all %}
                            {% if faq == category.faq_category_set.first %}
                                <div class="card">
                                        <div class="card-header" id="heading{{ faq.id }}">
                                            <h2 class="mb-0">
                                                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ faq.id }}"><i class="fa fa-plus"></i> {{ faq.question }}</button>
                                            </h2>
                                        </div>
                                    <div id="collapse{{ faq.id }}" class="collapse show" aria-labelledby="heading{{ faq.id }}" data-parent="#faq-section">
                                    <div class="card-body">
                                        {{ faq.answer|safe }}
                                    </div>
                                </div>
                                </div>
                            {% else %}
                                <div class="card">
                                        <div class="card-header" id="heading{{ faq.id }}">
                                            <h2 class="mb-0">
                                                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ faq.id }}"><i class="fa fa-plus"></i> {{ faq.question }}</button>
                                            </h2>
                                        </div>
                                    <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#faq-section">
                                    <div class="card-body">
                                        {{ faq.answer|safe }}
                                    </div>
                                </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                <h1>No Faqs</h1>
                {% endif %}
            {% endfor %}

        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock %}