
{% extends 'base-faqnew.html' %}

{% load static %}
{% block content %}
{% include 'header.html' %}
    <section class="mt-5 mb-5">
    	<div class="container">
			<section class="mb-5">
				<div class="row">
					<div class="col-md-4">
						</div>
					<div class="col-md-4">
						</div> 
					<div class="col-md-4">
					<form action="" autocomplete="off" class="form-horizontal" method="GET" accept-charset="utf-8">
        <div class="input-group">
            <input name="searchtext" value="{{searchtext}}" class="form-control" type="text" style="max-width:400px" placeholder="Search Question and Answer Here...">
            <span class="input-group-btn">
               <button class="btn btn-default" type="submit" id="searchFaq">
                   <i class="fa fa-search" aria-hidden="true"></i>
               </button>
            </span>
        </div>
    </form>

				</div>
					</div>
			</section>
    		<div class="row">
    			<div class="col-md-3">
    				<div class="side-nav">
    					<ul>
							<!--Dynamic Categories -->
							{% for category in faqs %}
                        		<li><a href="#{{ category.id }}" class="side-link">{{ category.category_name }}</a> </li>
                    		{% endfor %}
    					</ul>
    				    <a href="#" class="scrollToTop desktop-size before-style">&#8593; Scroll To Top</a>
    				</div>
    			</div>
    			<div class="col-md-9">
    				<div class="main-content">
						{% for category in faqs %}
							<div class="faq-container">
    							<span id="{{category.id}}"></span>
								{% if category.faq_category_set.count > 0 %}
									<h3 class="color-pink">{{ category.category_name }}</h3>
										{% for faq in category.faq_category_set.all %}
											<div class="faq">
												<div class="faq-item">
													<div class="faq-question">
														<h4 class="color-dark-gray-neutral">{{faq.question}}</h4>
													</div>
													<div class="faq-answer">
														{{ faq.answer|safe }}
													</div>
												</div>
											</div>
										{% endfor %}
                				{% else %}
                					<h1>No Faqs</h1>
                				{% endif %}
							</div>
            				{% endfor %}
                        <a href="#" class="mobilesScrollToTop">&#8593; Scroll To Top</a>
    				</div>
					<nav aria-label="Page navigation example" >
				<ul class="pagination">
					<li class="page-item">
						{% if faqs.has_previous %}
							<a class="page-link" href="?page={{faqs.previous_page_number}}">Previous</a>
						{% endif %}
					</li>
					<li class="page-item">
						<a class="page-link">Page {{faqs.number}} of {{faqs.paginator.num_pages}}</a>
					</li>
					<li class="page-item">
						{% if faqs.has_next %}
							<a class="page-link" href="?page={{faqs.next_page_number}}">Next</a>
						{% endif %}
					</li>
				</ul>
			</nav>
    			</div>
    		</div>
    	</div>
    </section>



    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
    	$('.side-link').on('click', function(event) {
    		var target = $(this.getAttribute('href'));
		    if( target.length ) {
		        event.preventDefault();
		        $('html, body').stop().animate({
		            scrollTop: target.offset().top
		        }, 1000);
		    }
		});

		$(window).scroll(function() {
		    var windscroll = $(window).scrollTop();
		    if (windscroll >= 100) {
		        $('.faq-container').each(function(i) {
		            if ($(this).position().top <= windscroll - 20) {
		                $('.side-nav ul li.is_active').removeClass('is_active color-pink');
		                $('.side-nav ul li').eq(i).addClass('is_active color-pink');
		            }
		        });

		    } else {
		        $('.side-nav ul li.is_active').removeClass('is_active color-pink');
		        $('.side-nav ul li:first').addClass('is_active color-pink');
		    }

		}).scroll();
    </script>
    <script>
    	$(document).ready(function(){
		    //Check to see if the window is top if not then display button
		    $(window).scroll(function(){
		        if ($(this).scrollTop() > 100) {
		            $('.scrollToTop').fadeIn();
		        } else {
		            $('.scrollToTop').fadeOut();
		        }
		    });

		    //Click event to scroll to top
		    $('.scrollToTop').click(function(){
		        $('html, body').animate({scrollTop : 0},800);
		        return false;
		    });

            if($(window).width() > 767)
            {
                var totalHeight = $('.main-content').height();
                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();
                    if (scroll >= totalHeight - 200) {
                        $('.desktop-size').addClass('after-style');
                        $('.desktop-size').removeClass('before-style');
                    }
                    else {
                        $('.desktop-size').removeClass('after-style');
                        $('.desktop-size').addClass('before-style');
                    }
                });
            }
            else{
                $('.mobilesScrollToTop').click(function(){
                    $('html, body').animate({scrollTop : 0},800);
                    return false;
                });
            }
		});
    </script>
{% include 'footer.html' %}
{% endblock %}