/* HEADER FAQ STYLES */
.header-blog {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    color: #3C4858;
    direction: ltr;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    display: block;
}
.navbar-blog-clone {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    direction: ltr;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    display: block;
    min-height: 50px;
    margin-bottom: 20px;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    font-size: 12px;
    background-color: #fff;
    color: #555;
    border-radius: 0;
    position: relative;
    border: none;
    padding: 0;
    transition: none;
    box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),0 1px 10px 0 rgba(0,0,0,0.12),0 4px 5px -2px rgba(0,0,0,0.1);
}

.container-header {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    direction: ltr;
    font-size: 12px;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
    max-width: 100%;
    display: flex;
    transition: padding 0.1s ease;
    padding: 10px 15px;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
}

.navbar-header-blog {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    direction: ltr;
    font-size: 12px;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    float: left;
    margin-right: 0;
    margin-left: 0;
}
.title-logo-wrapper {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    direction: ltr;
    font-size: 12px;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    max-width: 250px;
    display: flex;
    align-items: center;
    min-width: 250px;
}

.navbar-brand {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    direction: ltr;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    float: left;
    transition: .3s ease;
    font-size: 18px;
    line-height: 30px;
    margin-left: -15px;
    padding: 0 15px;
    position: relative;
    color: inherit;
    height: auto;
}
.navbar-toggle-wrapper {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    direction: ltr;
    font-size: 12px;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar-toggle {
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    cursor: pointer;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),-webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    max-width: 100%;
    font-family: inherit;
    margin: 10px 1px;
    white-space: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    position: relative;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border-radius: 4px;
    display: none;
    float: none;
    border: 0;
    margin-right: 0;
    box-shadow: none;
    color: #555;
}

.icon-bar {
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font: inherit;
    cursor: pointer;
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    white-space: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
    border: 1px solid;
    transition: 0.3s ease;
    position: relative;
}

.sr-only {
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font: inherit;
    cursor: pointer;
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    white-space: normal;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.collapse-navbar-collapse{
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    line-height: 1.618;
    direction: ltr;
    font-size: 12px;
    color: #555;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    width: auto;
    box-shadow: none;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    padding-left: 0;
    padding-right: 0;
    max-height: 340px;
    margin-right: 0;
    border: none;
    text-align: center;
    margin-left: auto;
}
nav-navbar-nav {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    direction: ltr;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.618;
    color: #000;
    font-size: 19px !important;
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* End Header FAQ Styles */
@media (min-width: 992px)
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navbar {
    width: 100%;
    z-index: 9999;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
    border: 1px solid #e30586;
    color: #fff !important;
    background: #3dd6eb;
}
.navbar-fixed-top .navbar-nav > li > a.discover-btn {
    color: #e30586 !important;
    background: transparent;
    border: 1px solid #e30586;
    border-radius: 8px 8px;
    padding: 12px 18px !important;
    margin-left: 10px;
    margin-right: 15px;
    font-family: "Dosis", sans-serif;
}
.navbar-fixed-top .navbar-nav > li > a, .navbar-fixed-top .navbar-nav > li > a:hover {
    color: #e30586 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navbar-fixed-top .navbar-nav > li > a {
    color: #e30586 !important;
    font-size: 18px !important;
    line-height: 30px !important;
    padding: 10px 20px !important;
    font-family: "Dosis", sans-serif;
}
a:hover {
    color: #e30586;
}
a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    outline: 0;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a{
	text-decoration: none !important;
	color: #1da1f2;
}
.mobilesScrollToTop{
    font-weight: 500;
    text-decoration: none;
    z-index: 9999 !important;
    color: #e30586 !important;
    display: none;
}
.before-style{
	text-align:center;
    font-weight: 500;
    text-decoration: none;
    position:fixed;
    bottom: 75px;
    left: 10%;
    display:none;
    z-index: 9999 !important;
    color: #e30586 !important;
}
@media(max-width: 767px){
    .before-style{
        text-align:left;
        font-weight: 500;
        text-decoration: none;
        position:fixed;
        bottom: 75px;
        left: 5px;
        display:none !important;
        z-index: 9999 !important;
        color: #e30586 !important;
    }

}

@media(max-width: 767px){
    .scrollToTop{
        display: none;
    }
    .mobilesScrollToTop{
        display: block;
    }
}

.after-style{
	text-align:center;
    font-weight: 500;
    text-decoration: none;
    position:relative;
    display: block !important;
    margin-top: 4rem;
    text-align: left;
    margin-left: 0.75rem;
    z-index: 9999;
    color: #e30586 !important;
}
.scrollToTop:hover{
    text-decoration:none;
}
.side-nav{
	position: sticky;
	top: 1.5rem;
}
.side-nav ul{
	position: relative;
    padding-left: .75rem;
    margin-bottom: 0;
    list-style-type: none;
    border: none;
}
@media(max-width: 767px){
    .side-nav{
        position: relative;
        margin-bottom: 5rem;
    }
    .side-nav ul{
        padding-left: 0rem;
    }
}
.is_active a{
	font-weight: 700 !important;
    color: #e30586 !important;
}
.color-pink {
    color: #e30586 !important;
}
.color-dark-gray-neutral {
    color: #657786 !important;
}
.side-nav ul li{
	margin-bottom: 0.75rem;
}
.side-nav ul li.is-active a {
    font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: .9975rem;
    line-height: 1.5rem;
    letter-spacing: .025rem;
}

.side-nav ul li a {
    font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: .9975rem;
    line-height: 1.5rem;
    letter-spacing: .025rem;
    color: #14171a;
    padding-top: .375rem;
    padding-bottom: .375rem;
    transition: all .3s ease-out;
}

.side-nav ul li a:hover {
    opacity: .6;
}

.faq-container{

    margin-bottom: 2.25rem;
}
.faq-container h3{
	font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -.025rem;
}
.faq-container h4{
	font-family: Helvetica Neue LT,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin-bottom: .375rem;
}
.faq-item{
	border-bottom: 1px solid #ccd6dd;
	padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}
.faq-question{
	padding-top: 0;
    padding-bottom: .75rem;
}
.faq-answer{
	transition: none;
    max-height: 9999px;
}

.footer {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 30px;
    padding: 60px 0 55px 0;
    background-color: #14030d;
}
#newsletter-form #email_newsletter {
    width: 100%;
    max-width: 280px;
    height: 65px;
    padding: 0 20px;
    border: 2px solid #fff;
    background-color: transparent;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.footer p {
    color: #fff;
}
.footer-heading {
    margin-bottom: 15px;
    font-weight: 600px;
    color: #fff;
}
.footer-text a {
    text-decoration: none !important;
}
.footer p a {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}
element.style {
    background-color: #02a4b8;
    color: #000;
    margin-top: 6px;
    height: 40px;
    padding: 0 5px 5px 5px;
}
.btn-blue:hover {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
    color: #fff !important;
    background: #3dd6eb;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-blue {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #02a4b8;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    border-radius: 5px 5px;
    margin: 10px 10px 0 10px 0;
    padding: 20px 30px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}