{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}


         <section class="breadcrumb_area_two">
            <ul class="list-unstyled bubble">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20" style="color: #fff">{{ post.title }}</h1>
                    <p class="f_400 w_color f_size_16 l_height26" style="color: #fff">Published On {{ post.created_at|date:"D d M Y" }}</p>
                </div>
            </div>
        </section>

        <section class="blog_area_two sec_pad">
            <div class="container">
                <div class="row">
                <div class="col-lg-3">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget search_widget_two">
                                <form action="#" class="search-form input-group">
                                    <input type="search" class="form-control widget_input" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>

                            <div class="widget sidebar_widget categorie_widget_two mt_60">
                                <h3 class="widget_title_two text-left">Categories</h3>
                                <ul class="list-unstyled">
                                    {% for category in category_data %}
                                        <li> <a href="{% url 'blogs:blog_page' %}?category={{category.name}}"><span>{{category.name}}</span><em>({{category.count}})</em></a> </li>
                                    {% endfor %}

                                </ul>
                            </div>

                            <div class="widget sidebar_widget instagram_widget mt_60">
                                <h3 class="widget_title_two text-left">Archive</h3>

                        <div class="form-group"> <!-- Date input -->
                            <!-- <input class="form-control" id="date" name="date" placeholder="Select Archive" onchange="myFunc();" type="month" min="" value=""/> -->
                            <select class="form-control" onchange="document.location.href=this.value">

                                <option selected value> Select Date </option>
                                {% for y in year_range %}
                                    {% for m in month_range %}
                                        <option value="{% url 'blogs:blog_by_year_month_page' year=y month=m.num %}"> {{m.name}} - {{y}} </option>
                                    {% endfor %}
                                {% endfor %}
                            </select>

                        </div>

                                </ul>
                            </div>
                        </div>
                    </div>


                     <div class="col-lg-9 blog_sidebar_left">
                        <div class="blog_single mb_50" id="{{post.id}}">
                            <img class="img-fluid myimg-fluid-2" src="{{ post.get_feature_image_url }}" alt="">
                            <div class="blog_content">
                                <div class="post_date">
                                    <h2>{{ post.created_at|date:"d" }}<span>{{ post.created_at|date:"M" }}</span></h2>
                                </div>
                                <div class="entry_post_info">

                                    <a href="{% url 'blogs:blog_category' post.category.id %}">{{ post.category.name }}</a>
                                </div>
                                <a>
                                    <h5 class="f_p f_size_20 f_500 t_color mb-30">{{ post.title }}</h5>
                                </a>

                                <p class="f_400 mb_40">{{ post.content|safe }}</p>
                                <!-- <blockquote class="blockquote mb_40">
                                    <h6 class="mb-0 f_size_18 l_height30 f_p f_400"></h6>
                                </blockquote>
                                -->

                                <div class="post_share" style="margin-top: 50px;">
                                    <div class="post-nam"> Share: </div>
                                    <div class="flex">
                                        <a href="#"><i class="ti-facebook"></i>Facebook</a>
                                        <a href="#"><i class="ti-twitter"></i>Twitter</a>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="blog_post">
                            <div class="widget_title">
                                <h3 class="f_p f_size_20 t_color3">Related Post</h3>
                                <div class="border_bottom"></div>
                            </div>
                            <div class="row">
                            {% for post in related_posts.related.all %}
                                <div class="col-lg-8 col-sm-12">
                                    <div class="blog_post_item">
                                        <div class="blog_img">
                                            <img src="{{ post.get_feature_image_url }}" alt="">
                                        </div>
                                        <div class="blog_content">
                                            <div class="entry_post_info">
                                                <a href="{% url 'blogs:blog_post' post.slug %}">{{ post.created_at|date:"D d M Y" }}</a>
                                            </div>
                                            <a href="{% url 'blogs:blog_post' post.slug %}">
                                                <h5 class="f_p f_size_16 f_500 t_color">{{ post.title }}</h5>
                                            </a>
                                            <p class="f_400 mb-0">{{ post.content|safe|truncatewords:10 }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if post.post_comment_post_set.all.count > 0 %}
                        <div class="widget_title mt_100">
                            <h3 class="f_p f_size_20 t_color3">Comments</h3>
                            <div class="border_bottom"></div>
                        </div>
                        {% for comment in post.post_comment_post_set.all %}
                         {% if comment.is_approved %}
                        <ul class="comment-box list-unstyled mb-0" id="{{comment.id}}">
                            <li class="post_comment">
                                <div class="media post_author mt_60">
                                    <div class="media-left">
                                        <img class="rounded-circle"
                                         src="https://secure.gravatar.com/avatar/8cdd21051a8dd11a0e3dc8300f36d31d?s=64&amp;d=mm&amp;r=g"
                                         srcset="https://secure.gravatar.com/avatar/8cdd21051a8dd11a0e3dc8300f36d31d?s=128&amp;d=mm&amp;r=g 2x"
                                         alt="">
                                       <!-- <a href="#" class="replay"><i class="ti-share"></i></a> -->
                                    </div>
                                    <div class="media-body">
                                        <h5 class="f_p t_color3 f_size_18 f_500">{{ comment.name }}</h5>
                                        <h6 class="f_p f_size_15 f_400 mb_20">{{ comment.created_at|time:"H:i" }}</h6>
                                        <p>{{ comment.comment }}</p>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        {% endif %}
                         {% endfor %}
                        {% else %}
                                <div class="widget_title mt_100">
                            <h3 class="f_p f_size_20 t_color3">No Comment</h3>
                            <div class="border_bottom"></div>
                        </div>
                        {% endif %}
                                     {% if request.session.comment == '1' %}
                                        <div class="col-md-6 col-md-offset-5">
                                        <div class="alert alert-success alert-dismissible" role="alert">
                                            <button style="background-color: #fff; color: #000; padding:0" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <b style="color: green;"><strong>Thanks,</strong> your comment is received and will be reviewed shortly!</b>
                                        </div>
                                    </div>
                                    {% endif %}


                        <div class="widget_title mt_100">
                            <h3 class="f_p f_size_20 t_color3">Leave a Comment</h3>
                            <div class="border_bottom"></div>
                        </div>
                        <form class="get_quote_form row" action="{% url 'blogs:post_comment' %}" method="post">{% csrf_token %}
                        <input type="hidden" value="{{post.id}}" name="post">
                            <div class="col-md-12 form-group">
                                <textarea class="form-control message" name="comment"  placeholder="Comment"></textarea>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="website" name="website" placeholder="Website (optional)">
                            </div>
                            <div class="col-md-12"><button class="btn btn_three btn_hover f_size_15 f_500" type="submit">Post Comment</button></div>
                        </form>
                    </div>


                </div>
            </div>
        </section>


{% include 'footer.html' %}
{% endblock %}