{% extends 'base-landing.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'header.html' %}

<section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content_two text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20" style="color: #fff;">BLOGG</h1>
                  
                </div>
            </div>
        </section>

        <section class="blog_area_two sec_pad">
            <div class="container">
                <div class="row">
                <div class="col-lg-3">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget search_widget_two">
                                <!-- <form action="#" class="search-form input-group"> -->
                                    <form action="?{% url 'blogs:blog_page' %}" class="search-form input-group" method="GET">
                                    <!-- <input type="search" class="form-control widget_input" placeholder="Search"> -->
                                    <input type="search" class="form-control widget_input" name="search" value="{{request.GET.q}}" placeholder="Search Faqs Here...">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>

                            <div class="widget sidebar_widget recent_post_widget_two mt_60">
                                <h3 class="widget_title_two text-left">Categories</h3>
                               
                                <ul class="list-unstyled">
                                    {% for category in category_data %}
                                        <li> <a href="{% url 'blogs:blog_page' %}?category={{category.name}}"><span>{{category.name}}</span><em>({{category.count}})</em></a> </li>
                                    {% endfor %}

                                </ul>
                       
                            </div>

                            <div class="widget sidebar_widget recent_post_widget_two mt_60">
                                <h3 class="widget_title_two text-left">Archive</h3>
                                <div class="media post_item">
                                    <div class="media-body">
                                    <div class="form-group"> <!-- Date input -->
                            <!-- <input class="form-control" id="date" name="date" placeholder="Select Archive" onchange="myFunc();" type="month" min="" value=""/> -->
                            <select class="form-control" onchange="document.location.href=this.value">

                                <option selected value> Select Date </option>
                                {% for y in year_range %}
                                    {% for m in month_range %}
                                        <option value="{% url 'blogs:blog_by_year_month_page' year=y month=m.num %}"> {{m.name}} - {{y}} </option>
                                    {% endfor %}
                                {% endfor %}
                            </select>

                        </div>
                                    </div>
                                </div>
                           
                            </div>
                      
                        </div>
                    </div>

                    <div class="col-lg-9 blog_grid_info">
                        <div class="row">
                             {% if post_data.object_list.count > 0 %}
                                {% for post in post_data %}
                            <div class="col-lg-6">
                                <div class="blog_list_item blog_list_item_two">
                                    <a href="{% url 'blogs:blog_post' post.slug %}" class="post_date">
                                        <h2>{{ post.created_at|date:"d" }}<span>{{ post.created_at|date:"D" }}</span></h2>
                                    </a>
                                    <a href="{% url 'blogs:blog_post' post.slug %}"><img class="img-fluid" src="{{ post.get_feature_image_url }}" alt="{{post.title}}"></a>
                                    <div class="blog_content">
                                        <a href="{% url 'blogs:blog_post' post.slug %}">
                                            <h5 class="blog_title">{{ post.title }}</h5>
                                        </a>
                                        <p>{{ post.content|safe|truncatewords:50 }}</p>
                                        <div class="post-info-bottom">
                                            <a href="{% url 'blogs:blog_post' post.slug %}" class="learn_btn_two">Read More <i class="arrow_right"></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>

                    {% endfor %}
                    {% else %}
                    <h2>No Blog Post Yet</h2>
                    {% endif %}
                         
                        </div>
                         <ul class="list-unstyled page-numbers shop_page_number text-left mt_30">
                    {% if post_data.has_previous %}
                    <li><a class="next page-numbers" href="?page={{post_data.previous_page_number}}"><i
                            class="ti-arrow-left"></i></a></li>
                    {% endif %}
                    <li><span aria-current="page" class="page-numbers current">{{post_data.number}}</span></li>

                    <li><a class="page-numbers"> {{post_data.paginator.num_pages}}</a></li>

                    {% if post_data.has_next %}
                    <li><a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a></li>
                    {% endif %}
                </ul>
                    </div>
                    
                </div>
            </div>
        </section>



{% include 'footer.html' %}
{% endblock %}
