{% extends 'base-landing.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% include 'header.html' %}


         <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">BLOG CATEGORY</h1>
                    <p class="f_400 w_color f_size_16 l_height26">{{ post.category.name }}</p>
                </div>
            </div>
        </section>

        <section class="blog_area_two sec_pad">
            <div class="container">
                <div class="row">
                <div class="col-lg-4">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget search_widget_two">
                                <form action="#" class="search-form input-group">
                                    <input type="search" class="form-control widget_input" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            
                            <div class="widget sidebar_widget categorie_widget_two mt_60">
                                <h3 class="widget_title_two text-left">Categories</h3>
                                <ul class="list-unstyled">
                               {% for category in category_data %}
                                        <li> <a href="#"><span>{{category.name}}</span><em>({{category.count}})</em></a> </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            <div class="widget sidebar_widget instagram_widget mt_60">
                                <h3 class="widget_title_two text-left">Archive</h3>
                                <div class="form-group"> <!-- Date input -->
                            <!-- <input class="form-control" id="date" name="date" placeholder="Select Archive" onchange="myFunc();" type="month" min="" value=""/> -->
                            <select class="form-control" onchange="document.location.href=this.value">

                                <option selected value> Select Date </option>
                                {% for y in year_range %}
                                    {% for m in month_range %}
                                        <option value="{% url 'blogs:blog_by_year_month_page' year=y month=m.num %}"> {{m.name}} - {{y}} </option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        
                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 blog_grid_info">
                        <div class="row">

                            {% if post_data.count > 0 %}
                                {% for post in post_data %}

                            <div class="col-lg-6">
                                <div class="blog_list_item blog_list_item_two">
                                    <a href="{% url 'blogs:blog_post' post.slug %}" class="post_date">
                                        <h2>{{ post.created_at|date:"d" }} <span>{{ post.created_at|naturaltime }}</span></h2>
                                    </a>
                                    <a href="{% url 'blogs:blog_post' post.slug %}"><img class="img-fluid myimg-fluid-1" src="{{ post.get_feature_image_url }}" alt="{{post.title}}"></a>
                                    <div class="blog_content">
                                        <a href="{% url 'blogs:blog_post' post.slug %}">
                                            <h5 class="blog_title">{{ post.title }}</h5>
                                        </a>
                                        <p>{{ post.content|safe|truncatewords:50 }}</p>
                                        <div class="post-info-bottom">
                                            <a href="{% url 'blogs:blog_post' post.slug %}" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                            <a class="post-info-comments" href="{% url 'blogs:blog_category' post.category.id %}">
                                                <i class="icon_comment_alt" aria-hidden="true"></i>
                                                <span>{{ post.title }}">{{ post.category.name }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                {% endfor %}
                            {% else %}
                                <h2>No Blog Post Yet</h2>
                            {% endif %}

                        </div>
                        <ul class="list-unstyled page-numbers shop_page_number text-left mt_30">
                        {% if post_data.has_previous %}
                         <li><a class="next page-numbers" href="?page={{post_data.previous_page_number}}"><i class="ti-arrow-left"></i></a></li>
                         {% endif %}
                            <li><span aria-current="page" class="page-numbers current">{{post_data.number}}</span></li>

                            <li><a class="page-numbers"> {{post_data.paginator.num_pages}}</a></li>

                            {% if post_data.has_next %}
                            <li><a class="next page-numbers" href="#"><i class="ti-arrow-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
            </div>
        </section>

{% include 'footer.html' %}
{% endblock %}
