{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}


<section class="breadcrumb_area" style="height: 430px !important;">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Case Study</h1>
              <p class="f_400 w_color f_size_16 l_height26">AM builds automated solutions
               for businesses looking to improve their processes. Below are some successful
                projects delivered. If you are keen on requesting an offer for your 
              project, feel free to contact us at kontakt @ <a href="https://automatiseramera.se" style="color:#fff;">automatiseramera.se</a></p>
                </div>
            </div>
        </section>

     <section class="developer_product_area" style="background: #fff;">
        <div class="container">
            <div class="row">
                {% for case in case_studies %}
                <div class="col-lg-12 d-flex align-items-center" style=" margin-bottom: 10%;">
                    <div class="developer_product_content d_product_content_two">  
                        <ul class="nav nav-tabs develor_tab mb-30" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="request-tab" data-toggle="tab" href="#request{{ case.id }}" role="tab" aria-controls="request" aria-selected="false">Request </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="process-tab" data-toggle="tab" href="#process{{ case.id }}" role="tab" aria-controls="process" aria-selected="false"> Process</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="result-tab" data-toggle="tab" href="#result{{ case.id }}" role="tab" aria-controls="result" aria-selected="false">Result</a>
                            </li>
                        </ul>
                <div class="col-lg-12">
                        <div class="col-lg-1"></div>
                      <div class="col-lg-10 col-md-10 col-sm-10 d-flex case-border align-items-center">

                        <div class="tab-content col-lg-3 case-size-1">
                            <div class="" id="request" >
                                <img style="margin-bottom: 5%; height: 68px;" src="{{case.logo.url}} " alt=""></a>
                                <h6><a class="f_500 t_color3"><strong>Industry:</strong> {{ case.industry_title }}</a></h6>
                                <h6><a class="f_500 t_color3"><strong>Company:</strong> {{ case.company_name }} </a></h6>
                            </div>
                            
                        </div>

                        <div class="tab-content col-lg-8 developer_tab_content case-size-2" style="margin: 25px;">
                            <div class="tab-pane fade active show case-study" id="request{{case.id}}" role="tabpanel" aria-labelledby="request-tab{{case.id}}">
                                {{ case.request|safe|truncatewords:50 }}
                            </div>
                            <div class="tab-pane fade show case-study" id="process{{case.id}}" role="tabpanel" aria-labelledby="process-tab{{case.id}}">
                               {{ case.process|safe|truncatewords:50 }}
                            </div>
                            <div class="tab-pane fade case-study" id="result{{case.id}}" role="tabpanel" aria-labelledby="result-tab{{case.id}}">
                                {{ case.result|safe|truncatewords:50 }}
                            </div>
                        </div>
                </div>
                </div>
                
                        </div>

                    </div>
                    {% endfor %}
                </div>
               
        </div>
    </section>



{% include 'footer.html' %}
{% endblock %}