{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
   
   <section class="app_banner_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="app_banner_contentmt mt_40">
                            <h2 class="f_p f_700 f_size_50 w_color mb_20 wow fadeInLeft" data-wow-delay="0.2s">Automatisera Mera,<br>
                                ett av Sveriges ledande <br>
                                integrationsleverantörer
                                </h2>
                    <p class="f_400 f_size_18 l_height30 w_color wow fadeInLeft" data-wow-delay="0.3s">Ta steget in i automatiseringens värld och låt våra kostnadseffektiva 
                    <br> integrationer effektivisera den löpande bokföringen.
                    </p>
                            <a href="{% url 'integrations_page' %}" class="btn_hover mt_30 app_btn wow fadeInLeft" data-wow-delay="0.5s">
                            Visa Produktkatalog</a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="app_img wow fadeInRight" data-wow-delay="0.2s">
                            <img class="mobile" src=" {% static 'asset/img/home/side2.png' %} " alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
          <section class="erp_analytics_area" id="about">
            <div class="container">
                <div class="hosting_title erp_title why text-center">
                    <h2>En IT-leverantör att växa och utvecklas med</h2>
                    
                </div>
                <p class="f_400 text-center">
                    Vi värderar tid och välkomnar intåget av automatisering i vår alltmer digitaliserade värld. 
                    Vårt engagerade team tillverkar applikationer, bots, scripts, integrationer och skräddarsydda lösningar som hjälper  
                    arbetsplatser att frigöra resurser och tid.
                    Som Fortnox och Visma proffs  kan vi erbjuda både färdiga och kundspecifika integrationer som bidrar
                    till  effektivare och värdeskapande arbetsprocesser.
                    </p>

                <div class="row p_service_info">
                   
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pr_70 text-center">
                            <div class=""><img class="serv-img" src=" {% static 'asset/img/home/1.png' %} "></div>
                            <h5 class="f_600 f_p t_color3">Snabb och smidig uppstart</h5>
                            <p class="f_400">Våra erfarna onboarding specialister finns tillgängliga
                            för att stötta och guida er innan köp och för installation /konfigurering.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_50 pr_20 text-center">
                           <div class=""><img class="serv-img" src=" {% static 'asset/img/home/2.png' %} "></div>
                            <h5 class="f_600 f_p t_color3">Skräddarsydda lösningar</h5>
                            <p class="f_400">Saknar ni en integration/behöver specifika 
                            funktioner som fyller bolagets särskilda behov? 
                            Kontakta oss så undersöker vi vilka möjlighete
                            r som finns och vilka lösningar vi kan koda ihop.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pl_70 text-center">
                            <div class=""><img class="serv-img" src=" {% static 'asset/img/home/3.png' %} "></div>
                            <h5 class="f_600 f_p t_color3">Proffsig och vänlig service</h5>
                            <p class="f_400">Vi är stolta över vår kundnöjdhet och som samarbets
                            partners kan du alltid räkna med att vi finns nära 
                            till hands. SLA ligger på under 24hr i snitt.</p>
                        </div>
                    </div>
                </div>
            </div>
                
        </section>
       
       
        <section class="app_service_area">
            <div class="container">
                <div class="sec_title text-center mb_30">
                    <h2 class="f_p f_size_30 l_height30 f_700 why mb_20 wow fadeInUp">Why choose us</h2>
                </div>
            </div>
        </section>
         <section class="process_area">
            <div class="container">
                <div class="features_info">
                    <div class="row agency_featured_item mt-0 flex-row-reverse">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content pr_70 pl_70">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <a href="#" class="icon mt_30" id="why-icon-1"><i class="ti-arrow-right"></i></a>
                                <h3>Snabb och smidig uppstart</h3>
                                <p>Saknar ni en integration/behöver specifika 
                                funktioner som fyller bolagets särskilda behov? 
                                Kontakta oss så undersöker vi vilka möjlighete
                                r som finns och vilka lösningar vi kan koda ihop.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row agency_featured_item agency_featured_item_two">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content pl_100">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <a href="#" class="icon mt_30" id="why-icon-2"><i class="ti-arrow-right"></i></a>
                                <h3>Snabb och smidig uppstart</h3>
                                <p>Saknar ni en integration/behöver specifika 
                                funktioner som fyller bolagets särskilda behov? 
                                Kontakta oss så undersöker vi vilka möjlighete
                                r som finns och vilka lösningar vi kan koda ihop.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row agency_featured_item flex-row-reverse">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content pr_70 pl_70">
                                <div class="dot"><span class="dot1"></span><span class="dot2"></span></div>
                                <a href="#" class="icon mt_30" id="why-icon-3"><i class="ti-arrow-right"></i></a>
                                <h3>Snabb och smidig uppstart</h3>
                                <p>Saknar ni en integration/behöver specifika 
                                funktioner som fyller bolagets särskilda behov? 
                                Kontakta oss så undersöker vi vilka möjlighete
                                r som finns och vilka lösningar vi kan koda ihop.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

         <section class="mb_70 ">
            <div class="container col-md-12 text-center">
                     <h2 class="f_p f_size_30 why l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.2s">Räkna ut er ROI</h>
                    
                <div class="slidecontainer text-center">
                 <div class="col-md-3 custom_container p0">
                    <span class="float-md-right" id="roi"></span>
                </div>
                <input type="range" min="1" max="40" value="20" class="my_slider" id="myrange">
                 <div class="col-md-3 show-savings">
                    <button id="showSavings" class="btn btn-sm btn-blue" style="padding: 10px 20px; margin-top: 10px;" onclick="calculatePricing()">Beräkna besparing</button>
                    <span class="float-md-left" id="roi-returns"></span>
                </div>
                </div>
            </div>
                    <p class="f_400 wow fadeInUp text-center" style="padding-left: 12%; padding-right: 12%;" data-wow-delay="0.4s">
                    Vi värderar tid och välkomnar intåget av automatisering i vår alltmer digitaliserade värld. 
                    Vårt engagerade team tillverkar applikationer, bots, scripts, integrationer och skräddarsydda lösningar som hjälper  
                    arbetsplatser att frigöra resurser och tid.
                    Som Fortnox och Visma proffs  kan vi erbjuda både färdiga och kundspecifika integrationer som bidrar
                    till  effektivare och värdeskapande arbetsprocesser.
                    </p>
                </div>
        </section>

         
    <section class="app_screenshot_area sec_pad">
        <div class="container custom_container p0">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.2s">Ett axplock av färdiga integrationer</h2>
                <p class="f_400 f_size_16 wow fadeInUp" data-wow-delay="0.4s">HR, E-handel, Ekonomi, Idrott och Föreningar..you name it.
                    Ingen industri är en begränsning för oss, där det finns friktion hittar vi lösningar.</p>
            </div>
            <div class="app_screen_info">
                <div class="app_screenshot_slider owl-carousel">
                    <div class="item"> 
                        <div class="screenshot_img">
                            <a href="img/home/slide-1.png" class="image-link"><img src=" {% static 'asset/img/home/slide-1.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-2.png" class="image-link"><img src=" {% static 'asset/img/home/slide-2.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-3.png" class="image-link"><img src=" {% static 'asset/img/home/slide-3.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-4.png" class="image-link"><img src=" {% static 'asset/img/home/slide-4.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-5.png" class="image-link"><img src=" {% static 'asset/img/home/slide-5.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-6.png" class="image-link"><img src=" {% static 'asset/img/home/slide-6.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-7.png" class="image-link"><img src=" {% static 'asset/img/home/slide-7.png' %} " alt=""></a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="screenshot_img">
                            <a href="img/home/slide-8.png" class="image-link"><img src=" {% static 'asset/img/home/slide-8.png' %} " alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

            <!-- Clients-->

             <section class="get_started_area">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="shap one three"></div>
            <div class="shap two four"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="get_content">
                            <h2 class="f_700 f_p f_size_30 l_height50 mb_20 wow fadeInLeft text-center" data-wow-delay="0.3s">“Automatisera Mera är en viktig länk för oss”</h2>
                            <p class="f_400 f_p mb_40 wow fadeInLeft text-center" data-wow-delay="0.4s">
                            - Johan Widenberg, Fortnox Partneransvarig
                            </p>
        
                        </div>
                    </div>
                    <div class="col-lg-6 text-right wow fadeInRight" data-wow-delay="0.7s">
                        <img style="width: 436px; height: 396px;" src=" {% static 'asset/img/home/5.png' %} " alt="">
                    </div>
                </div>
            </div>
        </section>

            <section class="sass_partner_logo_area sec_pad">
        <div class="container">
            <div class="sec_title text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <h2 class="f_p f_size_30 why l_height50 f_600 t_color">Ett axplock av kunder</h2>
            </div>
            <div class="partner_logo_area_four">
                <div class="row partner_info">
                    <div class="logo_item">
                        <a href="#"><img src=" {% static 'asset/img/home/award-1.png' %} " alt=""></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src=" {% static 'asset/img/home/award-2.png' %} " alt=""></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src=" {% static 'asset/img/home/award-3.png' %} " alt=""></a>
                    </div>
                    <div class="logo_item">
                        <a href="#"><img src=" {% static 'asset/img/home/award-4.png' %} " alt=""></a>
                    </div>
                   
                   
                </div>
            </div>
        </div>
    </section>
    <!--End of clients-->
            <!-- FAQ-->

     <section class="faq_area sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr_50">
    
                            <div class="agency_featured_img text-right">
                                <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                            </div>

                </div>
                <div class="col-lg-8">
                    <div class="tab-content faq_content Cus_acc" id="myTabContent">
                        <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Vanliga frågor</h3>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Hur exakt fungerar integrationerna?<i class="ti-plus"></i><i class="ti-minus"></i>
                                        </button>
                                        </h5>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body">
                                            Vår plattform är en brygga mellan ekonomiprogrammet och diverse applikationer. 
                                            Med en central plattform som kan tala med med system som SOAP,REST API,
                                            FTP och XML överförs data till och från ekonomiprogrammet.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Kommer vår data vara säker?<i class="ti-plus"></i><i class="ti-minus"></i>
                                    </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            Ja, dataintegritet är ytterst viktigt för oss och vi sparar enbart det som behövs för att processa transaktioner.
                                             Ingen transaktionsdata lagras i plattformens databas, utan datan streamas enbart mellan de olika programmen.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Är det bindningstid på tjänsterna?<i class="ti-plus"></i><i class="ti-minus"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            Det är helt valfritt! Som standard är det en bindningstid på 
                                            12 månader men det går även bra att välja bort bindningstiden
                                             mot en tillägskostnad av 50:- / månad.

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingfour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                               Hur kommer man igång?<i class="ti-plus"></i><i class="ti-minus"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
                                        <div class="card-body">
                                            För Fortnox integrationer ansluter ni er direkt inne i Fortnox App Marknadsplats. 
                                            För Visma integrationer är ni välkomna att mejla in er föfrågan så kontaktar en 
                                            integrationsspecialist er för uppstart.

                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
            <!--End of FAQ-->
            <!--Services-->
             <section class="app_service_area text-center">
            <div class="container text-center">
                <div class="sec_title text-center mb_70">
                    <h2 class="f_p f_size_30 why l_height30 f_700 t_color3 mb_20 wow fadeInUp">
                    En leverantör, en kontaktväg - många lösningar</h2>
                    <p class="f_400 f_size_16 wow fadeInUp" data-wow-delay="0.2s">Ett team av högspecialiserade konsulter 
                    och utvecklare med expertkunskaper inom 
                    systemintegration på ledande teknologier i molnet.</p>
                </div>
                <div class="row app_service_info  ">
                    <div class="col-lg-4 ">
                        <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-dashboard app_icon one text-left"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">En vass öga för automatisering</h5>
                            <p class="f_400 f_size_15 mb-30">Vi har omfamnat AI, maskininlärning, automatisering
                             och molnet för att lösa repetiva, manuella processer. Med stort intresse producerar 
                             vi integraionslösningar som eliminerar kostsam och tråkig
                             administration och hjälper verksamheter att effektivisera arbetsflödet.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-settings app_icon one"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Fokusera på verksamheten</h5>
                            <p class="f_400 f_size_15 mb-30">Bokföring är ett nödvändigt ont. 
                            Oavsett om ni sitter med det själv eller anlitar en redovisningskonsult
                             så är det resursslöseri att bokföra manuellt. 
                            Våra kunder rapporterar kostnadssparningar till uppåt 800% per år.</p>
                        </div>
                     
                    </div>
                    <div class="col-lg-4">
                        <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-bell app_icon one"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">En vass öga för automatisering</h5>
                            <p class="f_400 f_size_15 mb-30">Saknar ni en integration/behöver specifika 
                                funktioner som fyller bolagets särskilda
                                behov? Kontakta oss så undersöker vi vilka 
                                möjligheter som finns och vilka lösningar 
                                vi kan koda ihop.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-settings app_icon one"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Var en del av utvecklingen</h5>
                            <p class="f_400 f_size_15 mb-30">Sugen och nyfiken på att testa nya kopplingar 
                            innan marknadssläpp? 
                            Välkommen att anmäla er som pilottestare 
                            för kommande integrationer, vi älskar användar feedback!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-settings app_icon one"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Håll ner kostnaderna</h5>
                            <p class="f_400 f_size_15 mb-30">Snittkostnaden för redovisningstjänster(löpande bokföring)
                             är 30kr/verifikation.Stor del av kostnaderna kan minskas genom att
                             automatisera återrapportering/avstämning av intäkter i ekonomiprogrammet</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                            <i class="ti-settings app_icon one"></i>
                            <h5 class="f_p f_size_18 f_600 t_color3 mt_40 mb-30">Kontinuerlig utveckling</h5>
                            <p class="f_400 f_size_15 mb-30">Automatisera Mera har ett gediget utvecklarteam som brinner
                             för programvarutveckling. Räkna med en integration som kommer att 
                            vara långvarig, kontinuerligt underhållen och med fler framtida funktioner.</p>
                        </div>
                    </div>
              
                </div>
            </div>
        </section>
            <!--End Services-->
            <!--Testimonial-->
        <section class="app_testimonial_area">
            <div class="text_shadow" data-line="Feedback"></div>
            <div class="container nav_container">
                <div class="shap one"></div>
                <div class="shap two"></div>
                <div class="app_testimonial_slider owl-carousel">
                    <div class="app_testimonial_item text-center">
                        <div class="author-img"><img src=" {% static 'asset/img/home/testimonial_author_img.png' %} " alt=""></div>
                        <div class="author_info">
                            <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Simon Slemen</h6>
                            <p> - CEO Hundstil</p>
                        </div>
                        <p class="f_400">HundStil.com offers a range of premium products for dogs. To enable this, 
                        powerful e-commerce is required that is functional and tools that enable smooth administration.
                        Through the integration between Klarna-Fortnox, we save time and can focus on delivering value to our customers. 
                        "We are very pleased with the service, service and value Automate More brings to us every month".</p>
                    </div>
                    <div class="app_testimonial_item text-center">
                        <div class="author-img"><img src=" {% static 'asset/img/home/testimonial_author_img.png' %} " alt=""></div>
                        <div class="author_info">
                            <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Simon Slemen</h6>
                            <p> - CEO Hundstil</p>
                        </div>
                        <p class="f_400">HundStil.com offers a range of premium products for dogs. To enable this, 
                        powerful e-commerce is required that is functional and tools that enable smooth administration.
                        Through the integration between Klarna-Fortnox, we save time and can focus on delivering value to our customers. 
                        "We are very pleased with the service, service and value Automate More brings to us every month".</p>
                    </div>
                    <div class="app_testimonial_item text-center">
                        <div class="author-img"><img src=" {% static 'asset/img/home/testimonial_author_img.png' %} " alt=""></div>
                        <div class="author_info">
                            <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Simon Slemen</h6>
                            <p> - CEO Hundstil</p>
                        </div>
                        <p class="f_400">HundStil.com offers a range of premium products for dogs. To enable this, 
                        powerful e-commerce is required that is functional and tools that enable smooth administration.
                        Through the integration between Klarna-Fortnox, we save time and can focus on delivering value to our customers. 
                        "We are very pleased with the service, service and value Automate More brings to us every month".</p>
                    </div>
                </div>
            </div>
        </section>
        <!--End testimonial-->

        <!-- About-->
       
         <section class="process_area sec_pad">
            <div class="container">
                <div class="features_info">
                    <div class="row agency_featured_item mt-0 flex-row-reverse">
                        <div class="col-md-6">
                            <div class="agency_featured_img text-right">
                                <img class="why-img-2" src=" {% static 'asset/img/home/dashboard.png' %} " alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="agency_featured_content  pr_70 pl_70">
                                <h3 class=" why">Snabb och smidig uppstart</h3>
                                <p>En digital strategi för bolaget är viktigare än någonsin och en förutsättning för att överleva på marknaden.
                                 Automatisera Mera hjälper er gärna med att förenkla, modernisera och effektivisera verksamheten.
                                Kompetent, trygg och kunnig personal
                                Kontinuerlig utveckling - vi släpper i snitt 1 integration/månad
                                Säker drift i molnet</p>
                                <a class="btn_get my-btn-1 btn_get_radious Cus_seven" href="{% url 'integrations_page' %}">Se Produktkatalog</a>
                            </div>
                            
                        </div>
                    </div>
                   

                </div>
            </div>
        </section>
        
        <section class="contact_info_area sec_pad bg_color" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 pr-0">
                        <div class="contact_info_item">
                            <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Office Address</h6>
                            <p class="f_400 f_size_15">
                            Mässans Gata 10, 412 51
                            Göteborg
                            </p>
                        </div>
                        <div class="contact_info_item">
                            <h6 class="f_p f_size_20 t_color3 f_500 mb_20">Contact Info</h6>
                            <p class="f_400 f_size_15"><span class="f_400 t_color3">Phone:</span> <a href="tel:+46736143430">+46(0)736143430 </a></p>
                            <p class="f_400 f_size_15"><span class="f_400 t_color3">Email:</span> <a href="mailto:info@automatiseramera.se">info@automatiseramera.se</a></p>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1">
                        <div class="contact_form">
                            <form action="" class="contact_form_box" method="post" id="contact-form" novalidate="novalidate">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" id="name" name="contact_name" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" name="contact_email" id="email" placeholder="Your Email">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="form-group text_box">
                                            <input type="text" id="phone" name="contact_phone" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group text_box">
                                            <textarea name="message" id="message" name="contact_message" cols="30" rows="10" placeholder="Enter Your Message . . ."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn_three">Skicka</button>
                            </form>
                            <div id="success">Your message succesfully sent!</div>
                            <div id="error">Opps! There is something wrong. Please try again</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End About-->
                <section class="saas_subscribe_area">
                            <div class="container">
                                <div class="row saas_action_content wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="col-lg-8">
                                        <h4 class="f_p f_size_30 l_height50 f_400 t_color mb-0">Ready to get Started?</h4>
                                    </div>
                                    <div class="col-lg-4 d-flex justify-content-end">
                                        <a href="#" class="gr_btn"><span class="text">Book Now</span></a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        
{% include 'footer.html' %}
{% endblock %}
