{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}


    <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">{{ accounting_type }}</h1>
              
                </div>
            </div>
        </section>

        <section class="blog_area sec_pad">
            <div class="container">
                <div class="row">

                 <div class="col-lg-3">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget widget_search">
                                <form action="#" class="search-form input-group">
                                    <input type="search" class="form-control widget_input" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                          
                            <div class="widget sidebar_widget widget_categorie mt_60">
                                <div class="widget_title">
                                    <h3 class="f_p f_size_20 t_color3">Categories</h3>
                                    <div class="border_bottom"></div>
                                </div>
                                {% comment %} {% for category_name, apps in categories_apps.items %}
                                <ul class="list-unstyled" id="">
                                    <li style="margin-top:15%;" ><a href="#"><span>{{category_name}}</span></a></li>
                                    </ul>
                                    <ul>
                                    {% for app in apps %}
                                    <li><a href="{% url 'product_details_page' app=app.name %}"><span>{{app.name}}</span></a> </li>
                                    {% endfor %}
                                    </ul>
                                    
                                 {% endfor %} {% endcomment %}
                                    <ul id="tree2">
                                      {% for category_name, apps in categories_apps.items %}
                                    <li class="list-unstyled" style="margin-top:15%;"><a href="#">{{category_name}}</a>

                                        <ul>
                                        {% for app in apps %}
                                            <li><a href="{% url 'product_details_page' app=app.name %}"> {{app.name}} </a></li>
                                        
                                            {% endfor %}
                                    
                                        </ul>
                                        {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                     


                    {% for app in apps %}
                 
       

                <div class="col-lg-3 blog_sidebar_left">
                    <a href="{% url 'product_details_page' app=app.name %}">
                        <div class="blog_single acc_single mb_50">
                            <img class=" acc_img fort-app" src="{{app.image.url}}" alt="">
                        </div>
                        </a>
                        
                    </div>
                    
                   {% endfor %}

           
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% include 'footer.html' %}
{% endblock %}
