{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
    
    <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Integrationer</h1>
                    <p class="f_400 w_color f_size_16 l_height26">Välj ekonomiprogram</p>
                </div>
            </div>
        </section>
        <section class="portfolio_area sec_pad bg_color">
            <div class="container">
              
                <div class="row portfolio_gallery mb_30" id="work-portfolio">

                         {% for accounting in accountings %}
                    <div class="col-lg-3 col-sm-6 portfolio_item br ux mb-30">
                        <div class="portfolio_img">
                            <a href="{% url 'integrations_acounting_page' accounting=accounting.name %}" class="app_view"><img class="img_rounded int" src="{% static 'asset/img/Avast_Antivirus.png' %}" alt=""></a>
                            <div class=" h_content_two">
                                <a href="{% url 'integrations_acounting_page' accounting=accounting.name %}" class="app_view leaf"></a>
                                <div class="portfolio-description leaf">
                                    <a href="{% url 'integrations_acounting_page' accounting=accounting.name %}" class="portfolio-title">
                                        <h3 class="f_500 f_size_16 f_p">{{ accounting.name }}</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </section>


{% include 'footer.html' %}
{% endblock %}
