{% extends 'base-landing.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% include 'header.html' %}

{% if has_message %}

    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>

{% endif %}


    <section class="breadcrumb_area" style="height: 430px !important;">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container text-center">
                <div class="breadcrumb_content  landing-img">
                                               
                        <div class="blog_single land_single mb_50">
                            <img class=" land_img fort-app app_image fk"src="{% static 'asset/img/breadcrumb/shopify.png' %}" alt="">
                        </div>

                        <div class="blog_single land_single mb_50">
                            <img class=" land_img fort-app app_image 4" src="{% static 'asset/img/breadcrumb/fortnox.png' %}" alt="">
                        </div>

                        <div class="blog_single land_single mb_50">
                            <img class=" land_img fort-app app_image 1" src="{% static 'asset/img/breadcrumb/klarna.jpeg' %}" alt="">
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <div class="case_study_details_area_three sec_pad">
            <div class="container">
                <div class="row study_details_three">

                    
                                <div class="col-md-12 text-center padding-bottom: 50px; padding-top: 0px; margin-bottom: 20px; margin-top: 0px; " style="margin-bottom: 100px;">
                                    <h2 class="section-title">{{appDescription.title}}</h2>

                                        <p style="width: 70%; text-align: 'center'; margin-right: auto; margin-left: auto;">
                                        {{appDescription.description}}
                                        </p>

                                    </div>
                   <div class="col-lg-6">
                        <div class="contact_form">

                            <form class="contact_form_box" method="post" id="calculate_form">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            {{ salesform.imports | as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            {{ salesform.account | as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                           {{ salesform.payments | as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            {{ salesform.addon | as_crispy_field }}
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                           {{ salesform.volume | as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            {{ salesform.billing | as_crispy_field }}
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                    <div class="col-lg-6">
                    <div class="col-lg-6"></div>
                        <div class="study_details_content text-center" >
                           <!-- <div class="loader"></div> --> 
                            <h2 id="id_total" class="wow fadeInRight" data-wow-delay="0.5s">Total 0 SEK / Month</h2>
                            <p>Setup fee of 1500 is charged per app</p>
                          <button id="calculate" type="button"  class="btn_three text-center">
                          
                           <i class="fa fa-spinner fa-spin"></i>Calculate Total</button>
                          <a type="button" href="/"  class="btn_three text-center">Product Details</a>
                        </div>
                    </div> 
                  
                </div>
            </div>
        </div>
        
        <div class="col-md-12 text-center padding-bottom: 50px; pdding-top: 0px; margin-bottom: 20px; margin-top: 0px; " style="margin-bottom: 100px;">
            <h2 class="section-title">{{appDescription.title}}</h2>

                <p style="width: 70%; text-align: 'center'; margin-right: auto; margin-left: auto;">
                {{appDescription.description}}
                </p>
                
            </div>

        <section class="faq_area sec_pad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pr_50">
                        <img src="{% static 'asset/img/img3.png'%}" style="width: 500px; height: 450px;" class="width-100 box-shadow" alt="picture">

                    </div>
                    <div class="col-lg-6">
                        <div class="tab-content faq_content" id="myTabContent">
                            <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                                <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Vanliga frågor</h3>
                                <div id="accordion">

                                 {% for faq in faqs %}
                                    <div class="card">
                                        <div class="card-header" id="headingOne{{faq.id}}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{faq.id}}" aria-expanded="true" aria-controls="collapseOne{{faq.id}}">
                                                     {{faq.title}}<i class="ti-plus"></i><i class="ti-minus"></i>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne{{faq.id}}" class="collapse " aria-labelledby="headingOne{{faq.id}}" data-parent="#accordion">
                                            <div class="card-body">
                                                {{faq.description}}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="erp_analytics_area" id="about">
            <div class="container">
                <div class="hosting_title erp_title why text-center">
                    <h2>Features</h2>

                </div>


                <div class="row p_service_info">

                   {% for feature in features %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="p_service_item pr_70 text-center">
                            <div class="">
                            {% if feature.fa_icon_name is None and feature.icon is not None %}
                            <img class="serv-img {{feature.fa_icon_name}}" src={{feature.icon.url}}>
                            {% else %}
                            <i class="{{ feature.fa_icon_name }}"></i>
                            {% endif %}
                            </div>
                            <h5 class="f_600 f_p t_color3">{{feature.title}}</h5>
                            <p class="f_400">{{feature.description}}</p>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>

        </section>


        <div class="case_study_details_area_three sec_pad">
            <div class="container">
                <div class="row study_details_three">

                    <div class="col-lg-6">
                        <div class="study_details_content">
                            <h2>Integrationslösningar som driver er framåt</h2>
                            <p>En digital strategi för bolaget är viktigare än någonsin och en
                            förutsättning för att överleva på marknaden.
                            Automatisera Mera hjälper er gärna med att förenkla,
                            modernisera och effektivisera verksamheten.</p>
                            <ul class="list-unstyled">
                                <li>Kompetent, trygg och kunnig personal</li>
                                <li>Kontinuerlig utveckling - vi släpper i snitt 1 integration/månad</li>
                                <li>Säker drift i molnet</li>
                            </ul>
                            <a type="button" href="" class="btn_three text-center">Fortnox</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="details_img">
                            <img src="{% static 'asset/img/connections.png' %} " style="width: 500px; height: 450px;" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="case_study_details_area_two sec_pad">
            <div class="container">
                <div class="row study_details_two flex-row-reverse">
                     {% for a in about %}
                    <div class="col-lg-6">
                        <div class="study_details_content my-head">
                            <h2>About Us</h2>

                            <p>{{a.description}}</p>

                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="details_img text-right">
                            <img src="{{a.image.url}}" style="width: 500px; height: 450px;" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

       
    <section class="app_screenshot_area sec_pad">
        <div class="container custom_container p0">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.2s">Recommendtions</h2>
            </div>
            <div class="app_screen_info">
                <div class="app_screenshot_slider owl-carousel">
                {% for recommend in recommendations %}
                <div class="item">
                    <div class="screenshot_img">
                        <a href="{% url 'product_details_page' app=recommend.recommended_app.name %}"
                           class="image"><img
                                src=" {{recommend.recommended_app.image.url}} " alt=""></a>
                    </div>
                </div>
                
                    <div class="item"> 
                        <div class="screenshot_img">
                            <a onclick="window.open('{{recommend.url}}')" class="image-link"><img src=" {{recommend.recommended_app.image.url}} " alt=""></a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>



            <!--Testimonial-->
        <section class="app_testimonial_area">
            <div class="text_shadow" data-line="Feedback"></div>
            <div class="container nav_container">
                <div class="shap one"></div>
                <div class="shap two"></div>
                <div class="app_testimonial_slider owl-carousel">
                    <div class="app_testimonial_item text-center">
                        <div class="author-img"><img src=" {% static 'asset/img/home/testimonial_author_img.png' %} " alt=""></div>
                        <div class="author_info">
                            <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Simon Slemen</h6>
                            <p> - CEO Hundstil</p>
                        </div>
                        <p class="f_400">HundStil.com offers a range of premium products for dogs. To enable this,
                        powerful e-commerce is required that is functional and tools that enable smooth administration.
                        Through the integration between Klarna-Fortnox, we save time and can focus on delivering value to our customers.
                        "We are very pleased with the service, service and value Automate More brings to us every month".</p>
                    </div>
                    <div class="app_testimonial_item text-center">
                        <div class="author-img"><img src=" {% static 'asset/img/home/testimonial_author_img.png' %} " alt=""></div>
                        <div class="author_info">
                            <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Simon Slemen</h6>
                            <p> - CEO Hundstil</p>
                        </div>
                        <p class="f_400">HundStil.com offers a range of premium products for dogs. To enable this,
                        powerful e-commerce is required that is functional and tools that enable smooth administration.
                        Through the integration between Klarna-Fortnox, we save time and can focus on delivering value to our customers.
                        "We are very pleased with the service, service and value Automate More brings to us every month".</p>
                    </div>
                    <div class="app_testimonial_item text-center">
                        <div class="author-img"><img src=" {% static 'asset/img/home/testimonial_author_img.png' %} " alt=""></div>
                        <div class="author_info">
                            <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Simon Slemen</h6>
                            <p> - CEO Hundstil</p>
                        </div>
                        <p class="f_400">HundStil.com offers a range of premium products for dogs. To enable this,
                        powerful e-commerce is required that is functional and tools that enable smooth administration.
                        Through the integration between Klarna-Fortnox, we save time and can focus on delivering value to our customers.
                        "We are very pleased with the service, service and value Automate More brings to us every month".</p>
                    </div>
                </div>
            </div>
        </section>
        <!--End testimonial-->

        <section class="contact_info_area " style="padding-bottom: 50px; padding-top: 100px; background-color: rgba(225, 225, 225, 0.24);" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 pr-0">

                    </div>
                    <div class="col-lg-6 ">
                        <div class="contact_form">
                        <h6 class="f_p f_size_20 f_500 mb_50 text-center" style="color: #110366;">Ready to Onboard?</h6>
                            <form action="" class="contact_form_box" method="post" id="contact-form" novalidate="novalidate">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" id="name" name="company_name" placeholder="Company Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" name="company_id" id="email" placeholder="Company ID">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" name="name" id="email" placeholder="Name">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" name="role" id="email" placeholder="Role">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="text" name="phone_number" id="email" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group text_box">
                                            <input type="email" name="email" id="email" placeholder="Your Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                <button type="submit" value="submit" class="btn_three text-center">Contact</button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="col-lg-3 pr-0">

                    </div>
                </div>
            </div>
        </section>

<div id="calculator_lookup" style="display: none;">
    <div id="apps">
    {% for accounting in accountings %}
        <div id="id_accounting_{{accounting.id}}">
            {% for payment in accounting.payments.all %}
            <div id="fk">{{payment.id}}</div>
            {% endfor %}
        </div>
    {% endfor %}
    {% for a in addons %}
        <div id="id_addon_amount_{{a.id}}">
        {{a.price}}
        </div>
    {% endfor %}
    {% for app in apps %}
        <div id="id_app_{{app.id}}">
            <div id="id_app_cost_{{app.id}}">
            {{app.price}}
            </div>

            {% for account in app.accounting.all %}
            <div id="fk">{{account.id}}</div>
            {% endfor %}
        </div>
    {% endfor %}
    {% for v in volume %}
        <div id="id_volume_amount_{{v.id}}">
        {{v.price_addon}}
        </div>
    {% endfor %}
    {% for p in payments %}
        <div id="id_payment_amount_{{p.id}}">
        {{p.price}}
        </div>
    {% endfor %}
    {% for c in cycle %}
        <div id="id_cycle_weeks_{{c.id}}">
        {{c.number_of_weeks_in_cycle}}
        </div>
        <div id="id_percent_{{c.id}}">
        {{c.discount_percent}}
        </div>
    {% endfor %}
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){

        $('#id_imports').change(function(){
            const optionValue = this.value;
           $('#id_app_type').val(optionValue);

            $('#id_account').children().hide().prop("selected", false);

            const children = $('#id_app_' + optionValue).children();
            $(children).each(function(){
                const id = $(this).text();
                $('#id_account option[value="' + id + '"]').show();
            });
        });

        $('#id_account').change(function(){
            const optionValue = this.value;
            $('#id_accounting').val(optionValue);

            $('#id_payments').children().hide().prop("selected", false);

            const children = $("#id_accounting_" + optionValue).children();
            console.log(children);
            $(children).each(function(){
                const id = $(this).text();
                $('#id_payments option[value="' + id + '"]').show();
            });
        });

        $('#id_payments').change(function(){
            const optionValue = this.value;
            
            $('#id_payment').val(optionValue);
        });

        $('#id_volume').change(function(){
            const optionValue = this.value;
            $('#id_monthly_volume').val(optionValue);
        });

        $('#id_billing').change(function(){
            const optionValue = this.value;
            $('#id_billing_cycle').val(optionValue);
        });

       $('#id_addon').change(function(){
            const optionValue = this.value || null;
            $('#id_addon_value').val(optionValue);
        });

        $('#calculate').click(function(){
            const volumeValueId = $('#id_volume').children("option:selected").val();
            let volume_addon = $('#id_volume_amount_' + volumeValueId).text() | NaN;
            if(isNaN(volume_addon)) {
                volume_addon = 0;
            }
            console.log("VOLUME: " + volume_addon);

            const paymentValueId = $('#id_payments').children("option:selected").val();
            let payment = $('#id_payment_amount_' + paymentValueId).text();
            console.log("PAYMENT: " + payment);

            const billingValueId = $('#id_billing').children("option:selected").val();
            const billing = $('#id_cycle_weeks_' + billingValueId).text();
            const discount = $('#id_percent_' + billingValueId).text();
            console.log("BILLING: " + billing);
            console.log("DISCOUNT: " + discount);

            const addonValueId = $('#id_addon').children("option:selected").val();
            let addonValue = $('#id_addon_amount_' + addonValueId).text() | NaN;
            if (isNaN(addonValue)) {
                addonValue = 0;
            }

            const appSelection = $('#id_imports').children('option:selected');
            const id = $(appSelection).val();
            let price = $('#id_app_cost_' + id).text() | NaN;
            if (isNaN(price)) {
                price = 0;
            }
            if (price == 0){
                addonValue = 0;
                payment = 0;
                volume_addon = 0;
            }
            console.log("PRICE: " + price);
            console.log("ADDON: " + addonValue);

            const discount_percent = (100-discount) / 100;
            console.log(parseInt(price) + parseInt(addonValue));
            const total_price = (parseInt(price) + parseInt(volume_addon) + parseInt(payment) + parseInt(addonValue)) * discount_percent;
            const text = "Total " + total_price + " SEK / month";
            $('#id_total').text(text);
        });

    });


  {% comment %} $(document).ready(function(){
      $("#calculate").click(function(){
          $(this).addClass("load");

            setTimeout(function(){
                $("#calculate").addClass("btn_three")
            }, 1000000);
            setTimeout(function(){
                $("#calculate").removeClass("load");
            }, 1000000);
      });
  }); {% endcomment %}

{% comment %} $(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".app_image").not("." + optionValue).hide();
                $(".app_image" + optionValue).show();
            }else{
                    $(".app_image").hide();
            }
        })
    }).change();
}); {% endcomment %}
</script>
{% include 'footer.html' %}
{% endblock %}