<!--begin description section -->
<section class="section-white section-bottom-border" id="description">

    <div class="row text-center">
        <div class="col-sm-3" style="margin-left:0;margin-right:auto; ">
            <div class="row text-center">

                <div class="col-sm-3" style="margin-left:auto;margin-right:auto; ">
                    <div style="width: 100%; margin-bottom: 100px; margin-top: 100px;">
                        <div class="col-md-12" style="text-align:left">
                            <h2 class="section-title">Categories</h2>
                        </div>
                        {% for category_name, apps in categories_apps.items %}
                        <div class="col-md-12" style="text-align:left; margin-top: 50px">
                            <h2 class="section-title">{{category_name}} </h2>
                        </div>
                        {% for app in apps %}
                        <div class="col-md-12" style="text-align:left;">
                            <a href="{% url 'product_details_page' app=app.name %}">
                                <p class="section-title">{{app.name}}</p></a>
                        </div>

                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

 
        <div class="col-sm-3" style="margin-left:auto;margin-right:auto; ">
            <div style="width: 100%; margin-bottom: 100px; margin-top: 100px;">
                <div class="col-md-12" style="text-align:left; margin-bottom: 100px">
                    <h2 class="section-title">{{product_detail.name}}</h2>
                    {{product_detail.short_description|safe}}
                </div>
                <div class="col-md-12" style="text-align:left; margin-bottom: 100px">
                    <h2 class="section-title">Detailed description</h2>
                    {{product_detail.long_description|safe}}
                </div>
            </div>
        </div>

        <div class="col-md-3"
             style="display:block;margin-left: auto; margin-right: auto; margin-bottom: 100px; margin-top: 100px;">
            <!--begin testimonials carousel -->
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">

                <!--begin carousel-indicators -->
                <ol class="carousel-indicators testimonials-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
                <!--end carousel-indicators -->

                <!--begin carousel-inner -->
                <div class="carousel-inner">

                    <!--begin carousel-item -->
                    <div class="carousel-item active">

                        <!--begin testim-inner -->
                        <div class="testim-inner">

                            <img src="{{app_product_images.0.image.url}}" alt="testimonials" class="testim-img">


                        </div>
                        <!--end testim-inner -->

                    </div>
                    <!--end carousel-item -->
                    <!--begin carousel-item -->
                    <div class="carousel-item">

                        <!--begin testim-inner -->
                        <div class="testim-inner">

                            <img src="{{app_product_images.1.image.url}}" alt="testimonials" class="testim-img">


                        </div>
                        <!--end testim-inner -->

                    </div>
                    <!--end carousel-item -->
                    <!--begin carousel-item -->
                    <div class="carousel-item">

                        <!--begin testim-inner -->
                        <div class="testim-inner">

                            <img src="{{app_product_images.2.image.url}}" alt="testimonials" class="testim-img">


                        </div>
                        <!--end testim-inner -->

                    </div>
                    <!--end carousel-item -->

                </div>
                <!--end carousel-inner -->

            </div>
            <!--end testimonials carousel -->

        </div>

    </div>
</section>
<!--end description section -->

<!--begin features section -->
<section class="section-white top" id="bullets">
    <div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 100px; margin-top: 100px;">
        <div class="col-md-12 text-center">
            <h2 class="section-title">Bullets List</h2>
            {{product_detail.bullet_list|safe}}
        </div>
    </div>
</section>

<!--begin features section -->
<section class="section-white section-top-border" id="features">

    <!--begin container -->
    <div class="container" style="text-align: center;">

        <!--begin row -->
        <div class="row" style="display: inline-block;">

            <h2 class="section-title">Features</h2>

        </div>
        <!--end row -->

        <!--begin row -->
        <div class="row" style=" display:flex;justify-content: center;">
            {% for feature in features %}
            <div class="col-md-4">

                <div class="feature-box wow fadeIn" data-wow-delay="0.25s"
                     style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">
                    {% if feature.fa_icon_name is None and feature.icon is not None %}
                    <img class="{{feature.fa_icon_name}}" style="border-radius: 50%; margin-bottom: 15px;"
                         src={{feature.icon.url}} height="50" width="50"/>
                    {% else %}
                    <i class="{{ feature.fa_icon_name }}"></i>
                    {% endif %}
                    <h4>{{feature.title}}</h4>
                    <p>{{feature.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end features section -->

<!--begin faq section -->
<section class="section-white section-top-border">

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col-md-6-->
            <div class="col-md-6 margin-top-10">

                <img src="{% static 'image-theme/img3.png'%}" class="width-100 box-shadow" alt="picture">

            </div>
            <!--end col-sm-6-->

            <!--begin col-md-6-->
            <div class="col-md-6 margin-top-20">

                <h3>Vanliga frågor</h3>

                <!--begin accordion -->
                <div class="accordion" id="accordionFAQ">
                    {% for faq in faqs %}
                    <!--begin card -->
                    <div class="card">

                        <div class="card-header" id="faq_heading_{{faq.id}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                        onclick="document.getElementById('faq_body_{{faq.id}}').className= document.getElementById('faq_body_{{faq.id}}').className == 'collapse'? 'collapse show': 'collapse'">
                                    {{faq.title}}
                                </button>
                            </h5>
                        </div>

                        <div id="faq_body_{{faq.id}}" class="collapse" aria-labelledby="faq_body_{{faq.id}}"
                             data-parent="#accordionFAQ">
                            <div class="card-body">
                                {{faq.description}}
                            </div>
                        </div>

                    </div>
                    <!--end card -->
                    {% endfor %}
                </div>
                <!--end accordion -->
            </div>
            <!--end col-sm-6-->
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end faq section -->

<!--begin recommendations section-->
<section class="section-blue"
         style="background-color: #e987d7 !important; margin:auto; padding: 0; padding-top: 10px; padding-bottom: 10px;"
         id="showcase">

    <!--begin container-->
    <div class="container-fluid" style="text-align: center">

        <!--begin row-->
        <div class="row">

            <!--begin col md 12-->
            <div class="col-md-12 text-center">

                <h2 id="recommendations" class="section-title white-text recommendations">Recommendations</h2>

            </div>
            <!--end col md 12-->

            <!--begin col md 12-->
            <div class="col-md-12 padding-top-20">

                <!--begin carousel-->
                <div id="carouselIndicators2" class="carousel slide" data-ride="carousel">

                    <!--begin carousel-indicators-->


                    <!--begin carousel-inner-->
                    <div class="carousel-inner">

                        <!--begin carousel-item-->
                        <div class="carousel-item active">

                            <div class="row">

                                {% for recommend in recommendations %}
                                <div class="col-sm-3 recommend"
                                     style="display:block;margin-left:auto;margin-right:auto;">
                                    <img src="{{recommend.recommended_app.image.url}}"
                                         onclick="openUrl('{{recommend.url}}')" alt="showcase" class="gallery-show"
                                         height="100" width="100">
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                        <!--end carousel-item-->

                    </div>
                    <!--end carousel-inner-->

                </div>
                <!--end carousel-->

            </div>
            <!--end col md 12-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end recommendations section -->