{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Partners</h1>
              
                </div>
            </div>
        </section>

    <section class="payment_testimonial_area">
        <div class="container">
            <div class="row payment_testimonial_info  " style="margin-bottom: 15% !important;">
                <div class="col-lg-9 d-flex align-items-center">
                    <div class="testimonial_content">
                        <div class="icon">,,</div>
                        <p class="f_p f_size_15">“TAutomatisera mera har sedan starten imponerat på oss
                             genom ett grymt tempo på att ta fram nya appar med kvalite.
                            Med ett seriöst och enkelt upplägg att komma igång ser vi att fler och fler kunder 
                            väljer att automatisera sin administration med deras appar.  Aktörer som Automatisera 
                            mera är en väldigt viktig del av vårt erbjudande till alla våra kunder, de kompletterar 
                            vårt egna erbjudande och gör att kunden kan ha en effektiv 
                            administration oavsett vilka leverantörer våra kunder väljer för sin administration.”</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 pat-img">
                    <div class="testimonial_img Cus_test_img">
                        <img src="{% static 'asset/img/partners/johan..jpeg' %}" style="width: 200px; height: 200px;" alt="">
                        <div class="author f_600 f_p t_color f_size_20">Johan Widenberg</div>
                        <div class="author_description f_p f_size_15">Partneransvarig FORTNOX</div>
                    </div>
                </div>
            </div>
            <div class="row payment_testimonial_info  " >
                <div class="col-lg-9 d-flex align-items-center">
                    <div class="testimonial_content">
                        <div class="icon">,,</div>
                        <p class="f_p f_size_15">“Som Business Developer på Visma Spcs AB så har det 
                        alltid varit en förmån att få samarbeta med Automatisera Mera och deras 
                        utvecklingsteam när det gäller integrationer till alla våra olika produkter. 
                        Vi har alltid fått professionell och bra service från Automatisera Mera kring 
                        frågor som rör våra gemensamma kunder och de kopplingar som de använder sig av 
                        för att effektivisera sin verksamhet”</p>
                        
                    </div>
                </div>
                <div class="col-lg-3 pat-img"  style="margin-bottom: 20%;">
                    <div class="testimonial_img Cus_test_img">
                        <img src="{% static 'asset/img/partners/tobias.png' %}" style="width: 200px; height: 200px;" alt="">
                        <div class="author f_600 f_p t_color f_size_20">Tobias Olsson</div>
                        <div class="author_description f_p f_size_15">ISV Business Developer Visma SPCS</div>
                    </div>
                </div>
            </div>
            <!-- <div class="row payment_testimonial_info flex-row-reverse" tyle="margin-top: 20%;">
                <div class="col-lg-7 d-flex align-items-center">
                    <div class="testimonial_content">
                        <div class="icon">,,</div>
                        <p class="f_p f_size_20">“Som Business Developer på Visma Spcs AB så har det 
                        alltid varit en förmån att få samarbeta med Automatisera Mera och deras 
                        utvecklingsteam när det gäller integrationer till alla våra olika produkter. 
                        Vi har alltid fått professionell och bra service från Automatisera Mera kring 
                        frågor som rör våra gemensamma kunder och de kopplingar som de använder sig av 
                        för att effektivisera sin verksamhet”</p>
                        <div class="author f_600 f_p t_color f_size_20">Tobias Olsson</div>
                        <div class="author_description f_p f_size_15">ISV Business Developer Visma SPCS</div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="testimonial_img Cus_test_img">
                        <img src="{% static 'asset/img/partners/tobias.png' %}" alt="">
                    </div>
                </div>
            </div> -->
            <!-- <div class="row payment_testimonial_info flex-row-reverse" tyle="margin-top: 20%;">
                <div class="col-lg-7 d-flex align-items-center">
                    <div class="testimonial_content">
                        <div class="icon">,,</div>
                        <p class="f_p f_size_20">“Som Business Developer på Visma Spcs AB så har det 
                        alltid varit en förmån att få samarbeta med Automatisera Mera och deras 
                        utvecklingsteam när det gäller integrationer till alla våra olika produkter. 
                        Vi har alltid fått professionell och bra service från Automatisera Mera kring 
                        frågor som rör våra gemensamma kunder och de kopplingar som de använder sig av 
                        för att effektivisera sin verksamhet”</p>
                        <div class="author f_600 f_p t_color f_size_20">Tobias Olsson</div>
                        <div class="author_description f_p f_size_15">ISV Business Developer Visma SPCS</div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="testimonial_img Cus_test_img">
                        <img src="{% static 'asset/img/partners/tobias.png' %}" alt="">
                    </div>
                </div>
            </div> -->
            
        </div>
    </section>
        
        </section>

{% include 'footer.html'%}
{% endblock %}