{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Privacy</h1>
              
                </div>
            </div>
        </section>

        <section class="blog_area sec_pad">
            <div class="container">
                <div class="row">
                    <p>
                    
                        Automatisera Mera, ägd av Connectivo AB värnar om din personliga integritet och dataskydd.
                         Vi strävar efter att alltid skydda dina personuppgifter och data på bästa sätt och följa 
                         alla vid var tid gällande lagar och regler för dataskydd. Genom denna integritetspolicy 
                         vill vi informera dig om hur dina personuppgifter behandlas av oss. Denna policy gäller 
                         för alla uppgifter som samlas in
                         i samband med att du använder vår tjänst samt i samband med att du använder vår webbsida.
                          Du är alltid välkommen att kontakta oss vid frågor kring detta genom att skicka ett 
                          e-postmeddelande till oss på info@automatiseramera.se.
                    </p>
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            GDPR
                            </h3>

                    <p>
                    General Data Protection Regulation, eller GDPR som den förkortas, är en dataskyddsförordning från EU som ersätter den tidigare Personuppgiftslagen (PUL) från och med 25 maj 2018. Den nya förordningen syftar till att skydda enskilda individers rätt till skydd av personuppgifter inom EU. 

                    Hos Datainspektionen kan du läsa mer om hur GDPR påverkar dig som företagare.
                    </p>
                 
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Ansvar
                            </h3>

                    <p>
                   Connectivo AB AB, 556932-7777, med adress Box 5243, 402 24 GÖTEBORG, är programvaruleverantör av webbaserade program som automatiserar den löpande bokföringen för företagare. Connectivo AB är personuppgiftsansvarig för behandlingen av de personuppgifter som du delar med oss när:

                    du beställer Tjänsten
                    du får inloggningsuppgifter och blir användare av Tjänsten
                    du har en fråga och/eller kontaktar oss
                    du besöker vår hemsida och accepterar cookies
                    Connectivo AB är personuppgiftsbiträde för behandling av dina personuppgifter i Tjänsten och har då ansvar för organisatoriska och tekniska säkerhetsåtgärder.

                    Personuppgiftsansvarig för behandlingen av dina uppgifter i Tjänsten är ”Kunden” som är det registrerade bolaget hos Connectivo AB, vilket kan vara redovisningskonsulter, revisorer, små och medelstora företag. Du som är användare och har egna inloggningsuppgifter till Tjänsten kallas nedan för ”Användaren”.

                    Som personuppgiftsbiträde tillhandahåller vi gärna ett personuppgiftsbiträdesavtal som ni kan begära.
                                        </p>
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Vilka personuppgifter behandlas?
                            </h3>

                    <p>
              De personuppgifter vi behandlar är de uppgifter som du har lämnat till oss, som vi samlar in via vår tjänst, vår webbplats eller från en tredje part.

Personuppgifter som du har lämnat till oss: När du blir kund hos oss lämnas viss information om alla användare till oss. Information som lämnas till oss kan vara till exempel namn och kontaktuppgifter.
Personuppgifter som vi har samlat in från dig: När du besöker vår webbplats kommer vi automatiskt samla in personuppgifter, till exempel information om din IP-adress.
                                        </p>
                 
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Ändamål
                            </h3>

                    <p>
              Vi behandlar ditt namn, din e-mailadress, leveransadress, och telefonnummer (”dina kontaktuppgifter”) för att kunna administrera faktuering och för att fullfölja våra åtaganden gentemot dig som kund. Vi behandlar även dina kontaktuppgifter om du kontaktar oss för support samt när du använder tjänsten.

Personuppgifter kommer inte utsättas för automatiserat beslutsfattande, så kallad profilering.
                                        </p>
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Tillgång
                            </h3>

                    <p>
              Dina uppgifter behandlas som utgångspunkt endast av oss. 
              Våra interna och externa IT-leverantörer och eventuella andra leverantörer 
              vi anlitar kan komma att få tillgång till samtliga personuppgifter vi hanterar 
              om dig, dock endast i den utsträckning det är nödvändigt i syfte att fullgöra sina 
              åtaganden i relation till oss. Vi har skriftliga avtal med alla underbiträden genom 
              vilka de garanterar säkerheten för de personuppgifter som behandlas och åtar sig att
               följa våra säkerhetskrav
               samt begränsningar och krav avseende internationell överföring av personuppgifter.
                                        </p>
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Geografisk behandling
                            </h3>

                    <p>
              Vi strävar alltid efter att dina personuppgifter skall behandlas inom EU/EES. 
              I vissa fall kan vi dock vara tvungna att överföra informationen till underleverantörer
               i ett land utanför EU/EES. 
              Underleverantörer inblandade i denna behandling efterlever EU-U.S Privacy Shield.
                                        </p>
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Tid
                            </h3>

                    <p>
              Vi sparar din data endast så länge som det är nödvändigt för 
              att utföra våra kontraktuella åtaganden gentemot dig och så länge det
               krävs enligt lagstadgade lagringstider. Vid avtalets upphörande kommer 
               vi att radera alternativt anonymisera dina uppgifter inom rimlig tid efter 
               uppsägning, om inte annan svensk eller europeisk lag, domstol eller myndighet 
               säger något annat. För bokföringsändamål sparar vi 
              i enlighet med gällande bokföringslagstiftning information om vårt avtal med dig i sju år.
                                        </p>
                            <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Påverkan
                            </h3>

                    <p>
           I enlighet med gällande dataskyddslagstiftning har du rätt att 
           utan kostnad få tillgång till information om vilka personuppgifter 
           som vi behandlar om dig samt rätt att begära rättelse av dina personuppgifter. 
           Om du vill ha sådan information kan du begära 
           detta genom att kontakta oss per post eller e-mail. Våra kontaktuppgifter framgår ovan.
                                        </p>
                    <p>
           Du har under vissa förutsättningar även rätt att begära radering
            eller begränsning av dina personuppgifter eller invända mot vår 
            behandling. Du har också rätt att inge klagomål till svenska Datainspektionen 
            eller annan behörig tillsynsmyndighet som utövar tillsyn över företags hantering 
            av personuppgifter. Du har även rätt att under vissa förutsättningar få ut de personuppgifter
            som rör dig som du lämnat till oss i ett strukturerat, allmänt använt och maskinläsbart format.
                                        </p>
                 
                </div>
            </div>
        
        </section>
        

{% include 'footer.html'%}
{% endblock %}