{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
   
        <section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %}" alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">{{product_detail.name}}</h1>
              
                </div>
            </div>
        </section>
         <section class="blog_area sec_pad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget widget_search">
                                <form action="#" class="search-form input-group">
                                    <input type="search" class="form-control widget_input" placeholder="Search">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            
                            <div class="widget sidebar_widget widget_categorie mt_60">
                                <div class="widget_title">
                                    <h3 class="f_p f_size_20 t_color3">Categories</h3>
                                    <div class="border_bottom"></div>
                                </div>
                                    <ul id="tree2">
                                      {% for category_name, apps in categories_apps.items %}
                                    <li class="list-unstyled" style="margin-top:15%;"><a href="#">{{category_name}}</a>

                                        <ul>
                                        {% for app in apps %}
                                            <li><a href="{% url 'product_details_page' app=app.name %}"> {{app.name}} </a></li>
                                        
                                            {% endfor %}
                                    
                                        </ul>
                                        {% endfor %}
                                
                            </div>
                           
                            
                        </div>
                    </div>


     <div class="col-lg-6 blog_sidebar_left">
                <a href="#">
                    <div class="blog_single mb_50">
                        <div class="app_screenshot_slider owl-carousel">

                            <div class="item">
                                <div class="screenshot_img">
                                    <a  class="image-link"><img src="{{app_product_images.0.image.url}}"
                                alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot_img">
                                    <a  class="image-link"><img src="{{app_product_images.1.image.url}}"
                                alt=""></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="screenshot_img">
                                    <a  class="image-link"><img src="{{app_product_images.2.image.url}}"
                                alt=""></a>
                                </div>
                            </div>
                    
                        
                            </div>
                        </div>
                                </a>

                                <a href="#">
                                            <h5 class="f_p f_size_20 f_500 t_color mb-30 text-left">{{product_detail.name}}</h5>
                                        </a>
                                        <p class="f_400 mb-30">{{product_detail.short_description|safe}}</p>
                                        <h5 class="f_p f_size_20 f_500 t_color mb-30 text-left">Detailed description</h5>
                                        <p class="f_400 mb_40">{{product_detail.long_description|safe}}</p>
                                            <h5 class="f_p f_size_20 f_500 t_color mb-30 text-left">Bullet List</h5>
                                            <p class="f_400 mb_40 text-left">Funktioner:</p>
                                        <blockquote class="blockquote mb_40">
                                        
                                            {{product_detail.bullet_list|safe}}
                                        </blockquote>
                                        
                                        <section class="agency_service_area ">
                                        <h5 class="f_p f_size_20 f_500 t_color mb-30 text-left">Features</h5>
                                            <div class="container">
                                                
                                                <div class="row mb_30">

                                                {% for feature in features %}
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="p_service_item agency_service_item pr_70">
                                                            <div class="icon">
                                                            {% if feature.fa_icon_name is None and feature.icon is not None %}
                                                                <img src="{{feature.icon.url}}" alt="">
                                                                {% else %}
                                                                <i class="ti-panel">{{ feature.fa_icon_name }}</i>
                                                                {% endif %}
                                                            </div>
                                                            <h5 class="f_600 f_p t_color3">{{feature.title}}</h5>
                                                            <p>
                                                            {{feature.description}}
                                                            </p>
                                                            
                                                        </div>
                                                    </div>

                                                    {%endfor%}
                                            </div>

                                        </div>
                                    </section>

            <section class="faq_area sec_pad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 pr_50">
            
                                    <div class="agency_featured_img text-right">
                                        <img class="app-faq" src=" {% static 'asset/img/home/img3.png' %}" alt="">
                                    </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="tab-content faq_content Cus_acc" id="myTabContent">
                                <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                                    <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Vanliga frågor</h3>
                                    <div id="accordion">
                                    {% for faq in faqs %} 
                                        <div class="card">
                                            <div class="card-header" id="headingOne{{faq.id}}">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne{{faq.id}}" aria-expanded="true" aria-controls="collapseOne">
                                            {{faq.title}}<i class="ti-plus"></i><i class="ti-minus"></i>
                                                </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne{{faq.id}}" class="collapse" aria-labelledby="headingOne{{faq.id}}" data-parent="#accordion">
                                                <div class="card-body">
                                                    {{faq.description}}
                                                </div>
                                            </div>
                                        </div>
                                    
                                    {% endfor %}
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
                    <!--End of FAQ-->

                    
            <section class="app_screenshot_area sec_pad">
                <div class="container custom_container p0">
                    <div class="sec_title text-center mb_70">
                        <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.2s">Recommendtions</h2>
            
                    </div>
                    <div class="app_screen_info">
                        <div class="app_screenshot_slider owl-carousel">

                        {% for recommend in recommendations %}
                        <div class="item">
                            <div class="screenshot_img">
                                <a href="{% url 'product_details_page' app=recommend.recommended_app.name %}"
                                class="image"><img
                                        src=" {{recommend.recommended_app.image.url}} " alt=""></a>
                            </div>
                        </div>
                        {% endfor %}
                        
                        </div>
                    </div>
                </div>
            </section>
                         <button type="submit" value="submit" class="btn_three text-center">Contact</button>
                    </div>
                    <div class="col-lg-3">
                        <div class="blog-sidebar">
                            <div class="app_screen_info">
                <div class="app_screenshot_slider owl-carousel">
        
                <div class="item">
                    <div class="screenshot_img">
                        <a href=""
                           class="image"><img
                                src="{% static 'asset/img/Avast_Antivirus.png' %} " alt=""></a>
                    </div>
                </div>
                
                    <div class="item"> 
                        <div class="screenshot_img">
                             <a class="image-link"><img src="{% static 'asset/img/Avast_Antivirus.png' %} " alt=""></a>
                        </div>
                    </div>
             
                </div>
            </div>
                </div>
            </div>
             
        </section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function openUrl(url) {
    console.log(url);
    url = url.match(/^http[s]?:\/\//) ? url : 'http://' + url;
    console.log(url);
    window.open(url);
}

</script>
{% include 'footer.html' %}
{% endblock %}