{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}


        <section class="breadcrumb_area">
                    <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
                    <div class="container">
                        <div class="breadcrumb_content text-center">
                            <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Search Results</h1>
                    
                        </div>
                    </div>
                </section>

                <section class="faq_area sec_pad">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="col-lg-4 pr_50">
                
                                        <div class="agency_featured_img text-right">
                                            <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                                        </div>
    
                            </div> -->
                            <div class="col-lg-8">
                                <div class="tab-content faq_content Cus_acc" id="myTabContent">
                                    <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Vanliga frågor</h3>
                                        <div id="accordion">
                                        {% for accounting in accountings %}
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    {{ accounting.name }}<i class="ti-plus"></i><i class="ti-minus"></i>
                                                    </button>
                                                    </h5>
                                                </div>
                                            </div>
                                    {% endfor %}
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="faq_area sec_pad">
                    <div class="container">
                        <div class="row">
                            <!-- <div class="col-lg-4 pr_50">
                
                                        <div class="agency_featured_img text-right">
                                            <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                                        </div>
    
                            </div> -->
                            <div class="col-lg-8">
                                <div class="tab-content faq_content Cus_acc" id="myTabContent">
                                    <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                                        <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Vanliga frågor</h3>
                                        <div id="accordion">
                                        {% for the_app in the_apps %}
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        <a href="{% url 'product_details_page' app=the_app.name  %}">{{ the_app.name }}</a><i class="ti-plus"></i><i class="ti-minus"></i>
                                                    </button>
                                                    </h5>
                                                </div>
    
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                    <div class="card-body">
                                                        {{ the_app.description }}
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        <section class="blog_area_two sec_pad">
                    <div class="container">
                        <div class="row">
                        <div class="col-lg-4">
                                <div class="blog-sidebar">
                                    <div class="widget sidebar_widget search_widget_two">
                                        <form action="?{% url 'index_page' %}" class="search-form input-group" method="GET">
                                            <input type="search" class="form-control widget_input" placeholder="Search" name="s" value="{{request.GET.q}}">
                                            <button type="submit"><i class="ti-search"></i></button>
                                        </form>
                                    </div>    
                                    <div class="widget sidebar_widget instagram_widget mt_60">
                                        <h3 class="widget_title_two text-left">Apps</h3>
                                        <ul class="list-unstyled">
                                        {% for app in apps %}
                                            <li>
                                                <a href="{% url 'product_details_page' app=app.name  %}"><img src="img/new/blog/image_01.jpg" alt="">{{ app.name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </section>

                <section class="faq_area sec_pad">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-lg-4 pr_50">
            
                                    <div class="agency_featured_img text-right">
                                        <img class="why-img" src=" {% static 'asset/img/home/img3.png' %} " alt="">
                                    </div>

                        </div> -->
                        <div class="col-lg-8">
                            <div class="tab-content faq_content Cus_acc" id="myTabContent">
                                <div class="tab-pane fade show active" id="purchas" role="tabpanel" aria-labelledby="purchas-tab">
                                    <h3 class="f_p f_size_22 f_500 t_color3 mb_20">Vanliga frågor</h3>
                                    <div id="accordion">
                                    {% for faq in faqs %}
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{ faq.question }}<i class="ti-plus"></i><i class="ti-minus"></i>
                                                </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    {{ faq.answer }}
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



{% include 'footer.html' %}
{% endblock %}