{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Tjänsteavtal</h1>
              
                </div>
            </div>
        </section>

        <section class="blog_area sec_pad">
            <div class="container">
                <div class="row">
                <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                           Tjänsteavtal för Automatisera Mera
                            </h3>
                   
                    
                   <p> Detta tjänsteavtal reglerar skyldigheter och rättigheter mellan Kunden och Connectivo AB. </p>

            <p>1. Definitioner
                    Kund: En organisation eller företag, som har aktiverat ett företagskonto i Automatisera Mera, den webbaserade tjänst som tillhandahålls av Connectivo AB.

                    Administratör hos kunden: (”Administratören”) Den person som tar betalningsansvaret för ett företagskonto i Automatisera Mera på uppdrag av en kund, och hanterar medlemmar i Automatisera Mera för kunden.

                    Medlem: En unik person / individ (t.ex. en anställd hos kunden eller organisation, eller en tredje part) som är registrerad på en kund och via ett lösenord, får tillgång till Automatisera Mera. Alla personer / individer som använder sig av Automatisera Mera skall identifieras av ett användarkonto på ett kundkonto.

                    Tjänsten: Molnbaserade prenumerationstjänster avseende integration av webb applikationer och automatisering av manuella processer inom löpande bokföring.
                    Tjänsten innefattar leverans av standardiserade integrationer. Skräddarsydda och kundspecifika integrationer innefattas ej av denna tjänst.
                    </p>
        <p>
                2. Connectivo ABs ansvar
                Connectivo AB åtar sig att tillhandahålla Kunden tillgång till de webbaserade tjänster som Automatisera Mera erhåller i detta tjänsteavtal och det som finns tillgängligt på webbplatsen http://www.automatiseramera.se/. I händelse av konflikt mellan detta avtal och det som anges på hemsidan, skall detta avtal ha företräde. Connectivo åtar sig att vidta skäliga åtgärder för att säkerställa att Tjänsten är tillgängligt över Internet hela tiden, med undantag för när systemuppdateringar utförs. Connectivo ska göra mätningar för att upprätthålla tillgängligheten som tidigare nämnts där Connectivo anser sådan vara nödvändig för tekniska, underhålls-, drifts-, eller säkerhetsskäl.
                Connectivo är inte ansvarigt för radering eller underlåtenhet att lagra data och/eller annan information.
                Connectivo kommer att använda branschstandarder för att se till att data lagras och backas upp på ett säkert sätt. Kunden är också införstådd med att Kundens tillgång till Internet inte kan garanteras och att Connectivo inte ansvarar för brister i Kundens egna Internetanslutningar.
            </p>
        <p>    
                3. Kundens ansvar
                Kunden ska följa säkerhetsbestämmelserna som godkänts i samband med registrering av kunden eller kundens medlem. Kunden ska se till att alla uppgifter som anges angående faktureringsinformation eller kreditkortsinformation är korrekta och förbinder sig att uppdatera dessa uppgifter regelbundet. Kunden skall ansvara för den verksamhet som bedrivs av kunden och dess medlemmar och ska säkerställa att den nationella lagstiftningen följs.
            </p>
        <p>
                4. Användarnas integritet
                Connectivo respekterar integriteten hos sina användare. Viss personlig information som du lämnar till Connectivo kan lagras på servrar utanför det land där du bor. Du samtycker till att supportpersonal på Automatisera Mera kan få tillgång till ett konto, inklusive dess innehåll, för att kunna svara på ärenden gällande tjänsten. Läs vår integritetspolicy för ytterligare information.
            </p>
         <p>   
                5. Priser och betalningsvillkor, etc.
                Kunden ska betala ersättning för att använda Automatisera Mera och relaterade tjänster i enlighet med den prislista som tillämpas av Connectivo tills abonnemanget (Tjänsten) avbryts/avslutas. Abonnemanget på Automatisera Mera skall annulleras/avslutas åtminstone en dag före utgången av månaden, om kunden vill undvika att betala för nästa månad. Alla priser kan ändras när som helst. De tjänster som tillhandahålls av Connectivo debiteras kunden i förväg för en vald period. Betalning skall göras av kunden mot faktura eller genom att använda ett kreditkort som godkänts av Connectivo inom senast 30 dagar från fakturadatum. Om fakturan inte betalas i tid kommer Connectivo ha rätt att ta ut en straffavgift för eventuella betalningspåminnelser. Kunden förbinder sig att betala fakturor i den valuta som anges på fakturan, till det bankkonto som anges på fakturan. I händelse av förtida uppsägning av kundens konto i Automatisera Mera, kommer kunden inte ha rätt till återbetalning av förutbetalda avgifter.
            </p>
        <p>
                6. Rätt att använda Automatisera Mera
                Kunden ska ha rätt att ge användarna tillgång till kundens konto i Automatisera Mera. Kunden är införstådd med att kunden är ansvarig för de personer som kunden ger tillgång till Automatisera Mera. Connectivo skall inneha äganderätten till alla immateriella rättigheter och tekniska lösningar eller, i andra hand, skall ha ensamrätt att använda samma. Sådana immateriella rättigheter och tekniska lösningar får endast användas av Kunden på sätt som anges i detta avtal. Kunden eller en tredje part får under inga omständigheter förvärva immateriella rättigheter till tjänster eller programvaran eller tekniska lösningar som används i tjänsten, eller för alla varumärken som tillhör eller används av Connectivo AB.
            </p>
         <p>   
                7. Support
                Connectivo lämnar support om programspecifika frågor rörande funktionaliteten i Tjänsterna. Connectivo erbjuder support via e-post, telefon och via hemsidan om allt som rör användningen av Automatisera Mera prenumerationer. Support ges på vardagar (exklusive allmänna svenska helgdagar) under Connectivo ordinarie kontorstid och i skälig omfattning som beslutas i detalj av Connectivo. Förfrågningar och/eller felmeddelanden skall lämnas till Connectivo via e-post eller telefon i enlighet med kontaktuppgifter finns på webbplatsen Automatisera Mera.
            </p>
        <p>  
            8. Connectivo begränsade ansvar vid störningar.
            Med förbehåll för de begränsningar som anges i detta avtal, skall Connectivo vara ansvarig för korrigering av felbokningar till följd av Connectivo försumlighet. I händelse av fel eller brister som kan tillskrivas Connectivo åtar Connectivo för att agera för att rätta till sådana fel utan oskäligt dröjsmål. Kunden har inte rätt till en minskning av betalning, debitering eller andra påföljder i händelse av driftstörningar eller felrapportering som kan uppstå. Felanmälan måste ges av kunden i enlighet med de instruktioner som aviserats av Connectivo från tid till tid och inom en rimlig tid för upptäckten av felet.
            I avsaknad av uppsåt eller grov oaktsamhet av Connectivo, antar Connectivo annars inget ansvar för fel eller brister i Automatisera Mera och tjänster som ingår däri.
       
            Där driftstörningar eller fel uppstår i en sådan utsträckning att en kund inte har tillgång till Automatisera Mera under en period som överstiger en (1) månad, har Kunden rätt att säga upp avtalet skriftligen på det sätt som anges nedan och en sådan uppsägning skall utgöra kundens enda kompensation. I samband med uppsägning av avtalet i enlighet med denna bestämmelse skall kunden ansvara för återbördandet av information som lagras av Kunden hos Connectivo.

            Connectivo ansvar enligt detta avtal skall begränsas på följande sätt. Connectivo totala skadeståndsansvar för en kund skall vara begränsat till direkta förluster till ett belopp som motsvarar de överenskomna avgifter som betalas av kunden för Automatisera Mera och relaterade tjänster under perioden 3 månader omedelbart före avtalsbrottet som berättigar kunden till skadestånd. I avsaknad av uppsåt eller grov oaktsamhet av Connectivo, ska Connectivo under inga omständigheter hållas ansvarigt för indirekta förluster, utebliven vinst eller förväntade besparingar, förlust av intäkter, förlust av data eller anspråk från tredje part. Kunden kan göra anspråk på sanktioner i enlighet med ovanstående endast om kunden ger Connectivo med meddelande därom senast 45 dagar efter det att Kunden visste eller borde ha varit medveten om skälen för påståendet.
        </p>
        <p>
            9. Lösenord, etc.
            Kunden ska se till att identiteter som lösenord och motsvarande lagras och användas på ett säkert sätt. Om man misstänker att någon obehörig har fått kännedom om användarens identitet och/eller lösenord, ska Kunden omedelbart underrätta Connectivo detta.
        
            Kunden skall vara ansvarig för förluster eller skador som har förorsakats Connectivo, där kunden avsiktligt eller oavsiktligt avslöjar användaridentitet/lösenord till en tredje part eller om det på annat sätt blivit känt att en obehörig part, såvida inte Kunden meddelar Connectivo omedelbart efter misstanke om att sådan har inträffat.
        </p>
        <p>
            10. Force Majeure
            En part skall befrias från skadeståndsskyldighet och andra påföljder i de fall där en särskild skyldighet förhindras eller blivit allt för betungande på grund av omständigheter utanför en parts kontroll och som inte rimligen kunde ha förutsetts. Sådana force majeure är bland annat arbetskonflikter, blixtnedslag, brand, myndighetsbeslut, eller andra offentliga förordningar, fel i operatörs nät, förseningar i tjänster från underleverantörer på grund av händelser som nämnts ovan, allmän brist på transporter, varor, eller energi, globala epidemier eller andra liknande omständigheter.

            Om en part prestanda förhindras under en period på över en månad på grund av en händelse enligt ovan, skall endera parten rätt att säga upp avtalet skriftligen utan någon skyldighet att betala skadestånd.
            </p>
        <p>
                    11. Sekretess, etc.
                    Connectivo åtar sig att inte avslöja för någon tredje part, eller på annat sätt tillgängliggöra, information som mottagits av Connectivo från kunden eller dess anställda inom ramen för avtalet. Denna tystnadsplikt skall inte tillämpas på sådan information som Connectivo kan visa blivit känd för Connectivo annat än i enlighet med detta avtal eller som är tillgängligt i det offentliga rummet. Inte heller skall tystnadsplikten gälla när en part är skyldig att tillhandahålla information i enlighet med lagar och förordningar eller order från offentlig myndighet. Tystnadsplikten skall förbli i kraft trots uppsägning av avtalet.
            </p>
        <p>
                    13. Ändringar, tillägg och ansvar av bokföringsdata
                    Automatisera Mera ansvarar för vidareutveckling av Tjänsten och bestämmer ensam vilka förbättringar, förändringar och tekniska anpassningar som ska göras i Tjänsten. Automatisera Mera integrationer och dess funktionalitet grundas i kontinuerlig efterforskning, maskinlärning samt replikering av processer såsom löpande bokföring utförd av redovisningskonsulter. Tjänsten är ett mjukvaruprogram utvecklad i syfte att imitera och automatisera arbetet redovisningskonsulter utför. Tjänsten ersätter inte helt en redovisningskonsult utan är enbart kompletterande. Automatisera Mera ansvarar ej för att tolkning av transaktionsdata blir alltid helt korrekt, utan Kunden ansvarar själv för slutlig kontroll av bokföringens korrekthet.
            </p>
                    Connectivo förbehåller sig vidare rätten att ändra villkoren i detta Tjänsteavtal, inklusive, men inte begränsat till, de priser som Connectivo har från tid till annan. Kunden skall informeras om sådana ändringar via e-post eller genom den information som görs tillgänglig på Connectivo hemsida. Kunden ska anses ha mottagit ett sådant meddelande inom en vecka av meddelandet skickas via e-post eller görs tillgängligt på Connectivo hemsida. Om kunden inte godkänner ändringen, har Kunden inom trettio (30) kalenderdagar från avsändandet av e-post eller, i förekommande fall, trettio (30) kalenderdagar från ändringen publiceras på Connectivo webbplats, rätt att säga upp avtalet med omedelbar verkan. Om avtalet inte sägs upp av Kunden inom nämnda tid, ska Kunden anses ha godkänt de nya villkoren.
        <p>
                    14. Avtalstid och uppsägning, etc.
                    Detta avtal träder i kraft efter godkännande av kunden av dessa villkor genom genomförandet av detta avtal. Vid val av icke-bindande avtalstid skall detta avtal förbli i kraft på obestämd tid med en månads uppsägning från endera parten. Vid köp av avtal med bindningstid förblir avtalet i kraft under bindningstidens period.
                    Vid uppsägning av avtalet, skall Connectivo inte vara ansvarig för den information som genererats av medlem/kunden inom Automatisera Mera. Följaktligen måste kunden se till att den har de nödvändiga säkerhetskopior, etc. av den information som den önskar att spara.
            
                    Connectivo har rätt att radera all information som finns lagrad hos Connectivo från kunden efter en (1) månad efter uppsägningen av avtalet med kunden.
            </p>
            <p>
                    15. förtida uppsägning, etc.
                    Connectivo skall ha rätt att med omedelbar verkan kunna blockera kunden tillgång till Automatisera Mera eller att i förtid säga upp avtalet skriftligen om:

                    -Kunden använder tjänsten på ett sätt som innebär att kunden begår ett brott
                    -Kunden använder tjänsten på ett sätt som orsakar förluster eller risken för förlust för Connectivo eller någon tredje part
                    -Kunden använder tjänsten på ett sätt som strider mot Connectivo säkerhet eller administrativa bestämmelser; eller trots påminnelser, inte betalar avtalad ersättning till Connectivo inom viss tid
                    -Kunden använder tjänsten på så sätt att kunden använder medel eller söker obehörig åtkomst till Connectivo system som inte är avsedda för Kunden
                    -Kunden skulle försättas i konkurs eller är insolvent

                    Kunden har rätt att i förtid säga upp avtalet skriftligen om:

                    – Connectivo väsentligt bryter mot sina skyldigheter enligt avtalet och inte åstadkommer rättelse inom 14 dagar efter en begäran – – Om Connectivo skulle försättas i konkurs eller är insolvent.
                </p>
             <p>   
                    16. Personuppgifter
                    Avseende behandling av personuppgifter i Tjänsterna gäller vad som anges i personuppgiftsbiträdesavtalet i bilaga 1 och dess underbilagor.

                    Med ”Personuppgiftsansvarig” i personuppgiftsbiträdesavtalet avses Kunden. Med ”Personuppgiftsbiträde” avses Connectivo.
                </p>
            <p>
                    17. Överlåtelse
                    Connectivos har rätt, helt eller delvis, att överlåta sina rättigheter och skyldigheter enligt avtalet med kunden till ett bolag inom samma koncern som Connectivo utan kundens medgivande.

                    Kunden har inte rätt att överlåta sina rättigheter eller skyldigheter enligt detta avtal utan Connectivo skriftliga medgivande. Om Kunden överlåter sina rättigheter och skyldigheter enligt detta avtal och det nya partiet underlåter att fullgöra sina skyldigheter, skall Kunden vara ansvarig för genomförandet av sådana skyldigheter.
                </p>
            <p>
                    18. Immateriella rättigheter
                    Abonnenten bekräftar att Automatisera Mera och alla immateriella rättigheter i samband med Automatisera Mera tillhör Connectivo och Connectivo har rätt att vidta de åtgärder som kan besluta i syfte att skydda sina immateriella rättigheter i Automatisera Mera.
                </p>
            <p>
                    19. Publiceringsrättigheter
                    Abonnenten ger Connectivo rätten att inkludera abonnenten som kund på Connectivo hemsida eller annat reklammaterial i förhållande till produkten. Inom trettio (30) arbetsdagar efter skriftlig begäran från abonnenten kommer Connectivo att ta bort abonnentens namn från sin webbplats och kommer inte att göra någon ytterligare hänvisning till abonnenten i eventuella framtida material för produkten.
                </p>
            <p>
                    20. Tillämplig lag och tvister
                    Detta avtal och det efterföljande förhållandet mellan Connectivo och bolaget skall tolkas i enlighet med, och regleras av svensk lagstiftning.

                    I händelse av tvist i samband med detta avtal är parterna överens om att initialt fullständigt och i god tro försöka att lösa tvisten genom förhandlingar på exekutiv nivå, i den mån rimligt under rådande omständigheter, innan domstolsförhandlingar påbörjas.

                    Alla tvister som rör detta avtal skall avgöras i Göteborg, Sverige, med Göteborg tingsrätt som första instans.
                </p>
                <p>
                    21. Godkännande
                    Den som undertecknar detta avtal garanterar att han/hon är ansvarig för att se till att tillstånd finns för att binda kunden genom ett sådant utförande.
                </p>
                <p>
                    22. Ingen återförsäljning av tjänsten
                    Du samtycker till att inte reproducera, duplicera, kopiera, sälja, återförsälja eller exploatera någon del av Automatisera Mera, användning av Automatisera Mera, eller tillgång till Automatisera Mera. Återförsäljning av Automatisera Mera är endast tillåtet med skriftligt samtycke från Connectivo AB (som kan avbrytas och som kan omfatta vissa villkor) och ett återförsäljaravtal från Connectivo AB .
                    </p>
                <p>
                    Version 1.1, Reviderad Juli 10, 2019
                    </p>
           
                            
                         

                 
                </div>
            </div>
        
        </section>
        

{% include 'footer.html'%}
{% endblock %}