{% extends 'base-landing.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}

<section class="breadcrumb_area">
            <img class="breadcrumb_shap" src="{% static 'asset/img/breadcrumb/banner_bg.png' %} " alt="">
            <div class="container">
                <div class="breadcrumb_content text-center">
                    <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Köpvillkor</h1>
              
                </div>
            </div>
        </section>

        <section class="blog_area sec_pad">
            <div class="container">
                <div class="row">
                <h3 class="f_p f_size_22 f_500 t_color3 mb_20">
                            Köpvillkor – Digitala Produkter
                            </h3>
                    <p>
                    
                    För att handla på Automatiseramera.se måste du ha fyllt 18 år. 
                    Vi förbehåller oss rätten att annullera ordrar från personer som 
                    uppgivit felaktiga personuppgifter och/eller har betalningsanmärkningar
                     samt reserverar oss för eventuella prisfel som kan förekomma på siten.
                    </p>
                            
                            <p>
                            I samband med köp av tjänst godkänner 
                            kunden även Tjänsteavtalet som beskriver
                             i detalj vad tjänsten innefattar. 
                            </p>
                            <p>1. Bekräftelse
                                    När vi mottagit din beställning skickar vi snarast en bekräftelse per e-post med information om din order till dig.</p>
                                                                <p>2. Betalningsalternativ
                                    Vi accepterar för närvarande VISA och Mastercard. Betal- och kreditkortsbetalning hanteras av vår betalningspartner Stripe för att garantera snabb och säker betalning. Alla anslutningar till eller från vår betalningspartner Stripe sker med krypterad HTTP-anslutning (HTTPS) med 128 bitars SSL-kryptering.

                                    </p>
                                                            <p>3. Ångerrätt
                                Nerladdning av digitala produkter klassas som en tjänst som inte kan återlämnas då det är en så kallad direktkonsumtion.
                                Den digitala verifikationsprocessen likställs med en plombering av en fysisk vara.</p>
                                                <p>
                                                4. Lagval
                                                    Vid eventuell tvist kommer Automatiseramera.se att följa Allmänna Reklamationsnämndens rekommendationer
                                                </p>
                            <p>
                            5. Licens, Priser och Fakturering
                            Såvida inte parterna kommit överens om annat gäller de priser för Tjänsterna som vid tidpunkten för Avtalets ingående publicerats på Automatisera Mera hemsida. Detsamma gäller vid förlängning av Avtalet.
                            Tjänstens fasta avgifter debiteras månadsvis antingen via kortbetalning eller faktura annan tid som överenskommits mellan parterna.  Betalningsvillkor för faktura är 15 dagar netto, såvida inte Parterna kommit överens om något annat. Varje integration innefattas av 2 typer av kostnader, en licensavgift samt månadsavgift för molntjänsten.

                            </p>
                            <p>Automatiseramera.se ägs av Connectivo AB med organisationsnummer 556932-7777.</p>

                 
                </div>
            </div>
        
        </section>
        

{% include 'footer.html'%}
{% endblock %}