body.custom-background {
    background-color: #000000;
}

.woocommerce-product-gallery {
    opacity: 1 !important;
}

/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */

.toggle-switch {
    background: #ccc;
    width: 80px;
    height: 30px;
    overflow: hidden;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;

    &:after {
        content: " ";
        display: block;
        width: 40px;
        height: 30px;
        background-color: #3498DB;
        border: 3px solid #fff;
        border-top: 0;
        border-bottom: 0;
        margin-left: -3px;
        transition: all 0.1s ease-in-out;
    }

    .active & {
        &:after {
            margin-left: 40px;
        }
    }
}

.toggle-label {
    display: inline-block;
    line-height: 30px;
}

.toggle-label-off {
    color: #3498DB;
}

.active {

    .toggle-label-off {
        color: #000;
    }

    .toggle-label-on {
        color: #3498DB;
    }
}
