.wp-block-themeisle-blocks-about-author {
    border: 0;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    position: relative;
    display: flex;
    word-wrap: break-word
}

.wp-block-themeisle-blocks-about-author .themeisle-author-image {
    width: 16.66666667%;
    float: left;
    max-width: 130px;
    max-height: 130px;
    margin: auto 15px
}

.wp-block-themeisle-blocks-about-author .themeisle-author-image .author-image {
    width: 100%;
    height: auto;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 50%
}

.wp-block-themeisle-blocks-about-author .themeisle-author-image .author-image:hover {
    opacity: 0.8
}

.wp-block-themeisle-blocks-about-author .themeisle-author-data {
    width: 83.33333333%;
    float: left;
    margin: 0 15px
}

.wp-block-themeisle-blocks-about-author .themeisle-author-data p {
    font-size: 14px
}

@media (max-width: 961px) {
    .wp-block-themeisle-blocks-about-author {
        display: inline-block;
        text-align: center
    }

    .wp-block-themeisle-blocks-about-author .themeisle-author-image {
        width: auto;
        float: none;
        max-width: 130px;
        max-height: 130px;
        margin: auto
    }

    .wp-block-themeisle-blocks-about-author .themeisle-author-data {
        width: auto;
        float: none
    }
}

.wp-block-themeisle-blocks-advanced-columns .wp-themeisle-block-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.wp-block-themeisle-blocks-advanced-columns.has-default-gap .wp-block-themeisle-blocks-advanced-column {
    margin: 10px
}

.wp-block-themeisle-blocks-advanced-columns.has-nogap-gap .wp-block-themeisle-blocks-advanced-column {
    margin: 0
}

.wp-block-themeisle-blocks-advanced-columns.has-narrow-gap .wp-block-themeisle-blocks-advanced-column {
    margin: 5px
}

.wp-block-themeisle-blocks-advanced-columns.has-extended-gap .wp-block-themeisle-blocks-advanced-column {
    margin: 15px
}

.wp-block-themeisle-blocks-advanced-columns.has-wide-gap .wp-block-themeisle-blocks-advanced-column {
    margin: 20px
}

.wp-block-themeisle-blocks-advanced-columns.has-wider-gap .wp-block-themeisle-blocks-advanced-column {
    margin: 30px
}

.wp-block-themeisle-blocks-advanced-columns.has-vertical-flex-start .wp-block-themeisle-blocks-advanced-column {
    align-self: flex-start
}

.wp-block-themeisle-blocks-advanced-columns.has-vertical-center .wp-block-themeisle-blocks-advanced-column {
    align-self: center
}

.wp-block-themeisle-blocks-advanced-columns.has-vertical-flex-end .wp-block-themeisle-blocks-advanced-column {
    align-self: flex-end
}

@media (min-width: 960px) {
    .wp-block-themeisle-blocks-advanced-columns {
        display: flex;
        position: relative
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap {
        display: flex;
        flex-basis: 100%;
        word-break: keep-all
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap .wp-block-themeisle-blocks-advanced-column {
        position: relative
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap .wp-block-themeisle-blocks-advanced-column:first-child {
        margin-left: 0
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap .wp-block-themeisle-blocks-advanced-column:last-child {
        margin-right: 0
    }

    .wp-block-themeisle-blocks-advanced-columns.hide-in-desktop {
        display: none
    }

    .wp-block-themeisle-blocks-advanced-columns.has-1-columns.has-desktop-equal-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 100%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-desktop-equal-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 50%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-desktop-oneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 33.34%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-desktop-oneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex-basis: 66.66%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-desktop-twoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 33.34%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-desktop-twoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex-basis: 66.66%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-equal-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 33.33%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneOneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 25%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneOneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex-basis: 50%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-twoOneOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 25%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-twoOneOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex-basis: 50%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 50%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex-basis: 25%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex-basis: 25%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 60%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex-basis: 20%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-desktop-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex-basis: 20%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-4-columns.has-desktop-equal-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 25%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-5-columns.has-desktop-equal-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 20%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-6-columns.has-desktop-equal-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex-basis: 16.66%
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .wp-block-themeisle-blocks-advanced-columns {
        display: flex;
        position: relative
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap {
        display: flex;
        flex-basis: 100%;
        word-break: keep-all
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap .wp-block-themeisle-blocks-advanced-column {
        position: relative;
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.hide-in-tablet {
        display: none
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-tablet-oneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-tablet-twoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneOneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-twoOneOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 3
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-tablet-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-tablet-collapsedRows-layout>.innerblocks-wrap {
        flex-direction: column
    }

    .wp-block-themeisle-blocks-advanced-columns.has-tablet-twoColumnGrid-layout>.innerblocks-wrap {
        display: flex;
        flex-wrap: wrap
    }

    .wp-block-themeisle-blocks-advanced-columns.has-tablet-twoColumnGrid-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 1 1 40%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-tablet-threeColumnGrid-layout>.innerblocks-wrap {
        display: flex;
        flex-wrap: wrap
    }

    .wp-block-themeisle-blocks-advanced-columns.has-tablet-threeColumnGrid-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 1 1 30%
    }
}

@media (max-width: 600px) {
    .wp-block-themeisle-blocks-advanced-columns {
        display: flex;
        position: relative
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap {
        display: flex;
        flex-basis: 100%;
        word-break: keep-all
    }

    .wp-block-themeisle-blocks-advanced-columns .innerblocks-wrap .wp-block-themeisle-blocks-advanced-column {
        position: relative;
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.hide-in-mobile {
        display: none
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-mobile-oneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-2-columns.has-mobile-twoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneOneTwo-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-twoOneOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 2
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneTwoOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 3
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:first-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-3-columns.has-mobile-oneThreeOne-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column:last-child {
        flex: 1
    }

    .wp-block-themeisle-blocks-advanced-columns.has-mobile-collapsedRows-layout>.innerblocks-wrap {
        flex-direction: column
    }

    .wp-block-themeisle-blocks-advanced-columns.has-mobile-twoColumnGrid-layout>.innerblocks-wrap {
        display: flex;
        flex-wrap: wrap
    }

    .wp-block-themeisle-blocks-advanced-columns.has-mobile-twoColumnGrid-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 1 1 40%
    }

    .wp-block-themeisle-blocks-advanced-columns.has-mobile-threeColumnGrid-layout>.innerblocks-wrap {
        display: flex;
        flex-wrap: wrap
    }

    .wp-block-themeisle-blocks-advanced-columns.has-mobile-threeColumnGrid-layout>.innerblocks-wrap>.wp-block-themeisle-blocks-advanced-column {
        flex: 1 1 30%
    }
}

.wp-block-themeisle-blocks-advanced-columns-separators {
    position: absolute;
    left: 0;
    width: 100%
}

.wp-block-themeisle-blocks-advanced-columns-separators.top {
    top: 0
}

.wp-block-themeisle-blocks-advanced-columns-separators.bottom {
    bottom: 0
}

.wp-block-themeisle-blocks-advanced-columns-separators.bottom svg {
    position: absolute;
    bottom: 0
}

.wp-block-themeisle-blocks-advanced-columns-separators .rotate {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

span.wp-block-themeisle-blocks-advanced-heading {
    display: block
}

.wp-block-themeisle-blocks-button-group {
    display: flex;
    margin-bottom: 0;
    position: relative
}

.wp-block-themeisle-blocks-button-group.collapse-desktop {
    flex-direction: column
}

.wp-block-themeisle-blocks-button-group.collapse-desktop .wp-block-themeisle-blocks-button {
    margin: 10px 0 !important
}

.wp-block-themeisle-blocks-button-group .wp-block-themeisle-blocks-button {
    cursor: pointer;
    font-size: 18px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    overflow-wrap: break-word;
    height: 100%
}

.wp-block-themeisle-blocks-button-group i.margin-left {
    margin-left: 10px
}

.wp-block-themeisle-blocks-button-group i.margin-right {
    margin-right: 10px
}

@media (max-width: 960px) {
    .wp-block-themeisle-blocks-button-group.collapse-tablet {
        flex-direction: column
    }

    .wp-block-themeisle-blocks-button-group.collapse-tablet .wp-block-themeisle-blocks-button {
        margin: 10px 0 !important
    }
}

@media (max-width: 600px) {
    .wp-block-themeisle-blocks-button-group.collapse-mobile {
        flex-direction: column
    }

    .wp-block-themeisle-blocks-button-group.collapse-mobile .wp-block-themeisle-blocks-button {
        margin: 10px 0 !important
    }
}

.wp-block-themeisle-blocks-accordion-area .transition,
.wp-block-themeisle-blocks-accordion-area ul li .accordion-content,
.wp-block-themeisle-blocks-accordion-area ul li i:before,
.wp-block-themeisle-blocks-accordion-area ul li i:after {
    transition: all 0.25s ease-in-out
}

.wp-block-themeisle-blocks-accordion-area .no-select,
.wp-block-themeisle-blocks-accordion-area ul li .accordion-heading {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.wp-block-themeisle-blocks-accordion-area ul {
    list-style: none;
    -webkit-perspective: 900;
    perspective: 900;
    padding: 20px 0;
    margin: 0
}

.wp-block-themeisle-blocks-accordion-area ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 18px;
    padding-top: 18px;
    list-style: none;
    border-top: 1px dotted #dce7eb
}

.wp-block-themeisle-blocks-accordion-area ul li:last-of-type {
    border-bottom: 1px dotted #dce7eb
}

.wp-block-themeisle-blocks-accordion-area ul li .accordion-heading {
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    background-color: #fefffa;
    margin: 0 !important;
    padding: 0;
    cursor: pointer
}

.wp-block-themeisle-blocks-accordion-area ul li .accordion-content {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    margin-top: 14px !important;
    max-height: 800px;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.wp-block-themeisle-blocks-accordion-area ul li i {
    position: absolute;
    -webkit-transform: translate(-6px, 0);
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0
}

.wp-block-themeisle-blocks-accordion-area ul li i:before,
.wp-block-themeisle-blocks-accordion-area ul li i:after {
    content: "";
    position: absolute;
    background-color: rgba(48, 69, 92, 0.8);
    width: 3px;
    height: 9px
}

.wp-block-themeisle-blocks-accordion-area ul li i:before {
    -webkit-transform: translate(-2px, 0) rotate(45deg);
    transform: translate(-2px, 0) rotate(45deg)
}

.wp-block-themeisle-blocks-accordion-area ul li i:after {
    -webkit-transform: translate(2px, 0) rotate(-45deg);
    transform: translate(2px, 0) rotate(-45deg)
}

.wp-block-themeisle-blocks-accordion-area ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0
}

.wp-block-themeisle-blocks-accordion-area ul li input[type=checkbox]:checked~.accordion-content {
    margin: 0 !important;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%)
}

.wp-block-themeisle-blocks-accordion-area ul li input[type=checkbox]:checked~i:before {
    -webkit-transform: translate(2px, 0) rotate(45deg);
    transform: translate(2px, 0) rotate(45deg)
}

.wp-block-themeisle-blocks-accordion-area ul li input[type=checkbox]:checked~i:after {
    -webkit-transform: translate(-2px, 0) rotate(-45deg);
    transform: translate(-2px, 0) rotate(-45deg)
}

.themeisle-block-notice.components-notice {
    background-color: #E5F5FA;
    border-left: 4px solid #00a0d2;
    margin: 5px 15px 10px;
    padding: 8px 12px
}

.themeisle-block-notice.components-notice.is-success {
    border-left-color: #4ab866;
    background-color: #eff9f1
}

.themeisle-block-notice.components-notice.is-warning {
    border-left-color: #f0b849;
    background-color: #fef8ee
}

.themeisle-block-notice.components-notice.is-error {
    border-left-color: #d94f4f;
    background-color: #f9e2e2
}

.themeisle-block-notice.components-notice .components-notice__content {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 !important
}

.wp-block-themeisle-blocks-pricing-table {
    display: flex;
    position: relative
}

.wp-block-themeisle-blocks-pricing-table.is-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.wp-block-themeisle-blocks-pricing-table.is-dim .wp-block-column {
    z-index: 1
}

.wp-block-themeisle-blocks-pricing-table.is-parallax {
    background-attachment: fixed !important
}

.wp-block-themeisle-blocks-pricing-table.alignfull {
    padding: 100px
}

.wp-block-themeisle-blocks-pricing-table.alignwide {
    padding: 100px 150px
}

.wp-block-themeisle-blocks-pricing-table .wp-block-column {
    position: relative;
    flex: 1;
    padding: 20px 10px;
    margin: 0 20px
}

.wp-block-themeisle-blocks-pricing-table .raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

@media (min-width: 768px) {
    .wp-block-themeisle-blocks-pricing-table .wp-block-column:first-child {
        margin-left: 0
    }

    .wp-block-themeisle-blocks-pricing-table .wp-block-column:last-child {
        margin-right: 0
    }
}

@media (max-width: 768px) {
    .wp-block-themeisle-blocks-pricing-table {
        display: block
    }

    .wp-block-themeisle-blocks-pricing-table .wp-block-column {
        margin: 20px
    }
}

@media (max-width: 1024px) {
    .wp-block-themeisle-blocks-pricing-table.alignfull {
        padding: 100px 20px
    }

    .wp-block-themeisle-blocks-pricing-table.alignwide {
        padding: 100px 20px
    }
}

.wp-block-themeisle-blocks-services {
    display: flex;
    position: relative
}

.wp-block-themeisle-blocks-services.is-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.wp-block-themeisle-blocks-services.is-dim .wp-block-column {
    z-index: 1
}

.wp-block-themeisle-blocks-services.is-parallax {
    background-attachment: fixed !important
}

.wp-block-themeisle-blocks-services.alignfull {
    padding: 100px
}

.wp-block-themeisle-blocks-services.alignwide {
    padding: 100px 150px
}

.wp-block-themeisle-blocks-services .wp-block-column {
    position: relative;
    flex: 1;
    padding: 20px 10px;
    margin: 0 20px
}

@media (min-width: 768px) {
    .wp-block-themeisle-blocks-services .wp-block-column:first-child {
        margin-left: 0
    }

    .wp-block-themeisle-blocks-services .wp-block-column:last-child {
        margin-right: 0
    }
}

@media (max-width: 768px) {
    .wp-block-themeisle-blocks-services {
        display: block
    }

    .wp-block-themeisle-blocks-services .wp-block-column {
        margin: 20px
    }
}

@media (max-width: 1024px) {
    .wp-block-themeisle-blocks-services.alignfull {
        padding: 100px 20px
    }

    .wp-block-themeisle-blocks-services.alignwide {
        padding: 100px 20px
    }
}

.wp-block-themeisle-blocks-testimonials-area {
    display: flex;
    position: relative
}

.wp-block-themeisle-blocks-testimonials-area.is-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5)
}

.wp-block-themeisle-blocks-testimonials-area.is-dim .wp-block-column {
    z-index: 1
}

.wp-block-themeisle-blocks-testimonials-area.is-parallax {
    background-attachment: fixed !important
}

.wp-block-themeisle-blocks-testimonials-area.alignfull {
    padding: 100px
}

.wp-block-themeisle-blocks-testimonials-area.alignwide {
    padding: 100px 150px
}

.wp-block-themeisle-blocks-testimonials-area .wp-block-column {
    position: relative;
    flex: 1;
    padding: 20px 25px;
    margin: 0 20px
}

.wp-block-themeisle-blocks-testimonials-area .wp-block-column .wp-block-image {
    margin: 0 auto;
    width: 100px;
    height: auto
}

.wp-block-themeisle-blocks-testimonials-area .wp-block-column .wp-block-image img {
    border-radius: 100%;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3)
}

.wp-block-themeisle-blocks-testimonials-area .wp-block-column h3.testimonials-title {
    margin: 20px 0 0 0 !important
}

.wp-block-themeisle-blocks-testimonials-area .wp-block-column .testimonials-content:before {
    content: open-quote
}

.wp-block-themeisle-blocks-testimonials-area .wp-block-column .testimonials-content:after {
    content: close-quote
}

@media (min-width: 768px) {
    .wp-block-themeisle-blocks-testimonials-area .wp-block-column:first-child {
        margin-left: 0
    }

    .wp-block-themeisle-blocks-testimonials-area .wp-block-column:last-child {
        margin-right: 0
    }
}

@media (max-width: 768px) {
    .wp-block-themeisle-blocks-testimonials-area {
        display: block
    }

    .wp-block-themeisle-blocks-testimonials-area .wp-block-column {
        margin: 20px
    }
}

@media (max-width: 1024px) {
    .wp-block-themeisle-blocks-testimonials-area.alignfull {
        padding: 100px 20px
    }

    .wp-block-themeisle-blocks-testimonials-area.alignwide {
        padding: 100px 20px
    }
}

.wp-block-themeisle-blocks-tweetable {
    display: block;
    background-color: #fff;
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 15px 0px
}

.wp-block-themeisle-blocks-tweetable p {
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    word-wrap: break-word;
    color: #999999;
    font-size: 24px;
    line-height: 140%;
    box-shadow: none;
    letter-spacing: 0.05em;
    font-weight: 100;
    text-decoration: none;
    text-transform: none
}

.wp-block-themeisle-blocks-tweetable .tweetbutton {
    margin: 0;
    padding: 0;
    padding-right: 0px;
    display: block;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    color: #999999;
    text-align: right;
    text-decoration: none
}

.wp-block-themeisle-blocks-tweetable .tweetbutton:after {
    content: "\F301";
    color: #A0CCED;
    font-family: Dashicons;
    margin: 0 5px
}

.wp-block-themeisle-blocks-font-awesome-icons {
    text-align: center
}

.wp-block-themeisle-blocks-plugin-cards {
    padding: 20px 0
}

.wp-block-themeisle-blocks-plugin-cards.align-left {
    float: left
}

.wp-block-themeisle-blocks-plugin-cards.align-center {
    text-align: center
}

.wp-block-themeisle-blocks-plugin-cards.align-right {
    float: right
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card {
    border: 1px #EAEAEA solid;
    display: inline-block;
    width: 350px;
    font-family: "PT Serif Caption"
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card a {
    color: #000;
    text-decoration: none
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header {
    background: #ffffff;
    text-align: center;
    padding: 25px
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-logo {
    padding: 10px
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-logo img {
    width: 128px;
    height: 128px
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-info {
    padding: 10px
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-info h4 {
    font-size: 24px;
    margin: 0
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-info h5 {
    font-size: 16px;
    margin: 0
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-ratings {
    font-family: "Font Awesome 5 Free"
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-ratings .star-full:before {
    content: "\F005";
    font-weight: 900
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-ratings .star-half:before {
    content: "\F5C0";
    font-weight: 900
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-header .card-ratings .star-empty:before {
    content: "\F005"
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details {
    background: #FCFCFC;
    border-top: 1px #EAEAEA solid;
    padding: 20px;
    font-size: 12px;
    text-align: center
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-description {
    color: #707070;
    font-size: 12px;
    text-align: center
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-stats {
    padding: 25px 0 0 0;
    text-align: justify
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-stats h5 {
    color: #707070;
    border-bottom: 1px #d8d8d8 solid;
    font-size: 14px;
    margin: 0
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-stats .card-stats-list {
    display: flex
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-stats .card-stats-list .card-stat {
    flex: auto;
    padding-top: 10px;
    text-align: center
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-stats .card-stats-list .card-stat .card-text-large {
    color: #4550ae;
    font-size: 24px;
    display: block
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-download {
    background: #4551af;
    text-align: center
}

.wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-download a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px
}

@media (max-width: 415px) {
    .wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card {
        width: auto
    }

    .wp-block-themeisle-blocks-plugin-cards .themeisle-plugin-card .card-details .card-stats .card-stats-list {
        display: block
    }
}

.wp-block-themeisle-blocks-posts-grid {
    display: flex;
    flex-wrap: wrap
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post .grid-post-row .grid-image-area {
    flex: 0 0 100%;
    max-width: 100%
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post .grid-post-row .grid-content-area {
    flex: 0 0 100%;
    max-width: 100%
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post .grid-post-row .grid-content-area .grid-content-category {
    margin: 10px 0
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post.grid-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post.grid-3 {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0 15px
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post.grid-4 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px
}

.wp-block-themeisle-blocks-posts-grid.is-grid .grid-post.grid-5 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 15px
}

.wp-block-themeisle-blocks-posts-grid .grid-post {
    margin: 20px 0;
    background: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    width: 100%
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-image-area {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-image-area .post-thumbnail {
    position: relative;
    padding: 0;
    z-index: 1;
    border-radius: 6px
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-image-area .post-thumbnail img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area.full {
    flex: 0 0 100%;
    max-width: 100%
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-category {
    font-size: 11px;
    font-weight: bold;
    margin: 0
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-category a {
    color: #000000;
    text-decoration: none
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-title a {
    text-decoration: none
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-meta {
    margin: 0;
    font-size: 14px
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-meta a {
    color: #000000
}

.wp-block-themeisle-blocks-posts-grid .grid-post .grid-post-row .grid-content-area .grid-content-excerpt {
    line-height: 1.5;
    margin: 1em 0
}

@media (max-width: 600px) {
    .wp-block-themeisle-blocks-posts-grid.is-grid .grid-post {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 0 !important
    }
}

.wp-block-themeisle-blocks-sharing-icons .social-icon {
    background: #999999;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    margin: 10px 5px 10px 0;
    padding: 12px;
    border: none;
    border-radius: 3px;
    white-space: normal;
    letter-spacing: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    line-height: 20px
}

.wp-block-themeisle-blocks-sharing-icons .social-icon.is-facebook {
    background-color: #3b5998;
    border-color: #3b5998
}

.wp-block-themeisle-blocks-sharing-icons .social-icon.is-twitter {
    background-color: #55acee;
    border-color: #55acee
}

.wp-block-themeisle-blocks-sharing-icons .social-icon.is-linkedin {
    background-color: #0976b4;
    border-color: #0976b4
}

.wp-block-themeisle-blocks-sharing-icons .social-icon.is-pinterest {
    background-color: #cc2127;
    border-color: #cc2127
}

.wp-block-themeisle-blocks-sharing-icons .social-icon.is-tumblr {
    background-color: #35465c;
    border-color: #35465c
}

.wp-block-themeisle-blocks-sharing-icons .social-icon.is-reddit {
    background-color: #ff4500;
    border-color: #ff4500
}

.wp-block-themeisle-blocks-sharing-icons .social-icon:hover {
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2)
}

.wp-block-themeisle-blocks-sharing-icons .social-icon i {
    min-width: 20px;
    color: #ffffff;
    font-size: 16px
}

.wp-block-themeisle-blocks-sharing-icons.has-label i {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 10px;
    padding-right: 10px
}
