{% load static %}

<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta http-equiv="refresh" name="description" id="appmetadescription" content="{{appDescription.description}}">

    <title>Connectivo - Bridging platforms made easy. </title>

    <!-- Loading Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Loading Template CSS -->
    <link href="{% static 'css-theme/style.css' %}" rel="stylesheet">
    <link href="{% static 'css-theme/animate.css'%}" rel="stylesheet">
    <link href="{% static 'css-theme/style-magnific-popup.css'%}" rel="stylesheet">

    <!-- Awsome Fonts -->
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700" rel="stylesheet">

    <!-- Font Favicon -->
    <link rel="shortcut icon" href="{% static 'image-theme/favicon.png'%}">


</head>

<body>

    <!--begin header -->
    <header class="header">

        <!--begin navbar-fixed-top -->
        <nav class="navbar navbar-default navbar-fixed-top">

            <!--begin container -->
            <div class="container">

                <!--begin navbar -->
                <nav class="navbar navbar-expand-lg">

                    <!--begin logo -->
                    <a class="navbar-brand" href="">
                        <img src="{% static 'image-theme/logo.png'%}" style="width: 140px;">
                    </a>
                    <!--end logo -->

                    <!--begin navbar-toggler -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <!--end navbar-toggler -->

                    <!--begin navbar-collapse -->
                    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

                        <!--begin navbar-nav -->
                        <ul class="navbar-nav ml-auto">

                            <li><a href="{% url 'index_page' %}">Hem</a></li>

                            <li><a href="#about">Om oss</a></li>

                            <li><a href="{% url 'integrations_page' %}">Integrationer</a></li>

                            <li><a href="{% url 'faqs:faq' %}">FAQ</a></li>

                            <li><a href="{% url 'blogs:blog_page' %}">Blogg</a></li>

                            <li><a href="#contact">Kontakt</a></li>

                            <li class="discover-link"><a href="https://integration.automatiseramera.se" class="external discover-btn">Kundportal</a>
                            </li>

                        </ul>
                        <!--end navbar-nav -->

                    </div>
                    <!--end navbar-collapse -->

                </nav>
                <!--end navbar -->

            </div>
            <!--end container -->

        </nav>
        <!--end navbar-fixed-top -->

    </header>
    <!--end header -->

<!--begin showcase section-->
    <section class="section-white" id="showcase">

        <!--begin container-->
        <div class="container-fluid">

            <!--begin row-->
            <div class="row">

                <!--begin col md 12-->
                <div class="col-md-12 text-center">

    
          
          {% block content %}
          {% endblock %}
  

</div>
                <!--end col md 12-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>

    <!-- Load JS here for greater good =============================-->
    <script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/jquery.scrollTo-min.js'%}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.nav.js'%}"></script>
    <script src="{% static 'js/wow.js'%}"></script>
    <script src="{% static 'js/plugins.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
    <script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>
</body>
{% include 'footer.html' %}
</html>