{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css-theme/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css-themefaq/faq-style.css' %}">
    <link rel="shortcut icon" href="{% static 'image-theme/favicon.png'%}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}
<script>
    	$('.side-link').on('click', function(event) {
    		var target = $(this.getAttribute('href'));
		    if( target.length ) {
		        event.preventDefault();
		        $('html, body').stop().animate({
		            scrollTop: target.offset().top
		        }, 1000);
		    }
		});

		$(window).scroll(function() {
		    var windscroll = $(window).scrollTop();
		    if (windscroll >= 100) {
		        $('.faq-container').each(function(i) {
		            if ($(this).position().top <= windscroll - 20) {
		                $('.side-nav ul li.is_active').removeClass('is_active color-orange');
		                $('.side-nav ul li').eq(i).addClass('is_active color-orange');
		            }
		        });

		    } else {

		        $('.side-nav ul li.is_active').removeClass('is_active color-orange');
		        $('.side-nav ul li:first').addClass('is_active color-orange');
		    }

		}).scroll();
    </script>
<script>
    	$(document).ready(function(){
		    //Check to see if the window is top if not then display button
		    $(window).scroll(function(){
		        if ($(this).scrollTop() > 100) {
		            $('.scrollToTop').fadeIn();
		        } else {
		            $('.scrollToTop').fadeOut();
		        }
		    });

		    //Click event to scroll to top
		    $('.scrollToTop').click(function(){
		        $('html, body').animate({scrollTop : 0},800);
		        return false;
		    });

            if($(window).width() > 767)
            {
                var totalHeight = $('.main-content').height();
                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();
                    if (scroll >= totalHeight - 200) {
                        $('.desktop-size').addClass('after-style');
                        $('.desktop-size').removeClass('before-style');
                    }
                    else {
                        $('.desktop-size').removeClass('after-style');
                        $('.desktop-size').addClass('before-style');
                    }
                });
            }
            else{
                $('.mobilesScrollToTop').click(function(){
                    $('html, body').animate({scrollTop : 0},800);
                    return false;
                });
            }
		});
    </script>
</body>
</html>

