{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>

    <link rel='stylesheet' href="{% static 'css-themeblog/dashicons.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/theme-my-login.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/all.min.css' %}" type='text/css'  />
    <link rel='stylesheet' href="{% static 'css-themeblog/v4-shims.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/style.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/jquery.accordion.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/clients-bar.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/font-awesome.min.css' %}" type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/public.css' %}"
        type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/woo-multi-currency.min.css' %}"
        type='text/css' />
    <link rel='stylesheet' href="{% static 'css-themeblog/flags-64.min.css' %}" type='text/css'  />
    <link rel='stylesheet' href="{% static 'css-themeblog/bootstrap.min.css' %}" type='text/css'  />
<!--    <link rel='stylesheet' id='hestia-font-sizes-css' href="{% static 'css-thameblog/font-sizes.min.css' %}" type='text/css'-->
<!--         />-->
    <link rel='stylesheet' href="{% static 'css-themeblog/font-awesome.min.css' %}" type='text/css' />
    <link rel='stylesheet' id='hestia_style-css' href="{% static 'css-themeblog/style.min.css' %}" type='text/css'  />
    <link href="https://fonts.googleapis.com/css?family=Dosis:500,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,700" rel="stylesheet">

<style id='hestia_style-inline-css' type='text/css'>
        .navbar:not(.navbar-transparent) li:not(.btn):hover>a,
        .navbar li.on-section:not(.btn)>a,
        .navbar.full-screen-menuF.navbar-transparent li:not(.btn):hover>a,
        .navbar.full-screen-menu .navbar-toggle:hover,
        .navbar:not(.navbar-transparent) .nav-cart:hover,
        .navbar:not(.navbar-transparent) .hestia-toggle-search:hover {
            color: #e82566
        }

        .header-filter-gradient {
            background: linear-gradient(45deg, rgba(168, 29, 132, 1) 0%, rgb(234, 57, 111) 100%);
        }

        .has-header-gradient-color {
            color: #a81d84;
        }

        .has-header-gradient-background-color {
            background-color: #a81d84;
        }
        .navbar .navbar-nav>li>a {
            color: #e30586 !important;
            text-transform: none;
            font-size: 18px;
        }
    </style>

    <style type="text/css">
        /* Add your CSS code here.

        For example:
        .example {
            color: red;
        }

        For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

        End of comment */

        .toggle-switch {
            background: #ccc;
            width: 80px;
            height: 30px;
            overflow: hidden;
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;

            &:after {
                content: " ";
                display: block;
                width: 40px;
                height: 30px;
                background-color: #3498DB;
                border: 3px solid #fff;
                border-top: 0;
                border-bottom: 0;
                margin-left: -3px;
                transition: all 0.1s ease-in-out;
            }

            .active & {
                &:after {
                    margin-left: 40px;
                }
            }
        }

        .toggle-label {
            display: inline-block;
            line-height: 30px;
        }

        .toggle-label-off {
            color: #3498DB;
        }

        .active {

            .toggle-label-off {
                color: #000;
            }

            .toggle-label-on {
                color: #3498DB;
            }
        }
    </style>
    <!-- end Simple Custom CSS and JS -->
    <noscript>

    </noscript>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-color: #000000;
        }
    </style>

    <style type="text/css" id="wp-custom-css">
        .copyright.pull-right {
            display: none;
        }

        .hestia-testimonials-content {
            height: 0px;
        }


        * {
            font-family: "Dosis", sans-serif;
        }

        p {
            color: #000;
        }

        h5.description {
            color: #000;
        }

        .hestia-features .hestia-info p {
            color: #000;
        }

        .card-description {
            color: #000;
        }

        /*remove buttons*/



        ul,
        ol,
        .blog-post .section-text p,
        output {
            color: #000;
            font-size: 19px !important;
        }

        .subscription-next-payment.order-date span {
            display: none;
        }

        .subscription-next-payment.order-date:after {
            content: "Kommande betalning"
        }
        .navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {
    border: 1px solid #e30586;
    color: #fff !important;
    background: #3dd6eb;
}
.navbar-fixed-top .navbar-nav > li > a.discover-btn {
    color: #e30586 !important;
    background: transparent;
    border: 1px solid #e30586;
    border-radius: 8px 8px;
    padding: 12px 18px !important;
    margin-left: 10px;
    margin-right: 15px;
    font-family: "Dosis", sans-serif;
}
.footer {
    position: relative;
    overflow: hidden;
    display: block;
    margin-top: 30px;
    padding: 60px 0 55px 0;
    background-color: #14030d;
}
#newsletter-form #email_newsletter {
    width: 100%;
    max-width: 280px;
    height: 65px;
    padding: 0 20px;
    border: 2px solid #fff;
    background-color: transparent;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.footer p {
    color: #fff;
}
.footer-heading {
    margin-bottom: 15px;
    font-weight: 600px;
    color: #fff;
}
.footer-text a {
    text-decoration: none !important;
}
.footer p a {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
}
element.style {
    background-color: #02a4b8;
    color: #000;
    margin-top: 6px;
    height: 40px;
    padding: 0 5px 5px 5px;
}
.btn-blue:hover {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
    color: #fff !important;
    background: #3dd6eb;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-blue {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #02a4b8;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
    border-radius: 5px 5px;
    margin: 10px 10px 0 10px 0;
    padding: 20px 30px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .hestia-title,
        .hestia-title.title-in-content,
        p.meta-in-content,
        .info-title,
        .card-title,
        .page-header.header-small .hestia-title,
        .page-header.header-small .title,
        .widget h5,
        .hestia-title,
        .title,
        .footer-brand,
        .footer-big h4,
        .footer-big h5,
        .media .media-heading,
        .carousel h1.hestia-title,
        .carousel h2.title,
        .carousel span.sub-title,
        .woocommerce.single-product h1.product_title,
        .woocommerce section.related.products h2,
        .hestia-about h1,
        .hestia-about h2,
        .hestia-about h3,
        .hestia-about h4,
        .hestia-about h5 {
            font-family: Arial, Helvetica, sans-serif;
        }
        .btn.btn-primary,
        .btn.btn-primary:link,
        .btn.btn-primary:hover,
        .btn.btn-primary:focus,
        .btn.btn-primary:active,
        .btn.btn-primary.active,
        .btn.btn-primary.active:focus,
        .btn.btn-primary.active:hover,
        .btn.btn-primary:active:hover,
        .btn.btn-primary:active:focus,
        .btn.btn-primary:active:hover,
        .label.label-primary,
        .hestia-work .portfolio-item:nth-child(6n+1) .label,
        .nav-cart .nav-cart-content .widget .buttons .button,
        .has-accent-background-color {
            background-color: #E82566;
        }
        .hestia-top-bar .widget .label-floating input[type=search]:-webkit-autofill {
            -webkit-box-shadow: inset 0 0 0px 9999px #363537
        }
        .hestia-top-bar,
        .hestia-top-bar .widget .label-floating input[type=search],
        .hestia-top-bar .widget.widget_search form.form-group:before,
        .hestia-top-bar .widget.widget_product_search form.form-group:before,
        .hestia-top-bar .widget.widget_shopping_cart:before {
            color: #FFFFFF
        }
        .hestia-top-bar .widget .label-floating input[type=search] {
            -webkit-text-fill-color: #FFFFFF !important
        }
    </style>
<link rel="icon" href="{% static 'image-theme/favicon.png'%}">

</head>


<body>

    {% block content %}
    {% endblock %}


<script type='text/javascript' src="{% static 'js-themeblog/jquery.js' %}">
    </script>
        <script type='text/javascript' src="{% static 'js-themeblog/bootstrap.min.js' %}">
    </script>
    <script type='text/javascript'
        src="{% static 'js-themeblog/jquery-migrate.min.js' %}"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
    var ctPublic = {"_ajax_nonce":"abba51a0bc","_ajax_url":"https:\/\/automatiseramera.se\/wp-admin\/admin-ajax.php"};
    /* ]]> */
    </script>
    <script type='text/javascript'
        src="{% static 'js-themeblog/apbct-public.js' %}">
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
    var ctNocache = {"ajaxurl":"https:\/\/automatiseramera.se\/wp-admin\/admin-ajax.php","info_flag":"","set_cookies_flag":"","blog_home":"https:\/\/automatiseramera.se\/"};
    /* ]]> */
    </script>
<!--    <script type='text/javascript'-->
<!--        src="{% static 'js-themeblog/cleantalk_nocache.js' %}">-->
<!--    </script>-->
    <script type='text/javascript'>
        /* <![CDATA[ */
    var pf = {"spam":{"label":"I'm human!","value":"f1857ef4cf"}};
    /* ]]> */
    </script>
    <script type='text/javascript'
        src=" {% static 'js-themeblog/custom-spam.js' %}"></script>
    <script type='text/javascript'
        src=" {% static 'js-themeblog/jquery.accordion.js' %}"></script>
    <script type='text/javascript'
        src="{% static 'js-themeblog/woo-multi-currency.min.js' %}">
    </script>



    <!-- start Simple Custom CSS and JS -->


    <script type="text/javascript">
        var weekday = null;
    var stripe_user_id = null;
    var stripe_access_token = null;

    jQuery(document).ready(function() {
        jQuery(".dropdown-menu li a").click(function() {
            weekday = jQuery(this).text(); ///User selected value...****
            console.log(weekday);
            jQuery(this).addClass('active');
            jQuery(this).parents('.btn-group').find('.dropdown-toggle').html(weekday + ' <span class="caret"></span>');
        });
    });




    </script>
    <!-- end Simple Custom CSS and JS -->
    <!-- start Simple Custom CSS and JS -->
    <script type="text/javascript">
        jQuery(document).ready(function(){
        jQuery("input[name='is_vat_registered']").on('change', check_is_vat_registered);

        function check_is_vat_registered() {
            var is_vat_reg = jQuery("input[name='is_vat_registered']").is(':checked');
            if(is_vat_reg){
                jQuery('div#is_vat_registered').slideDown();
            } else {
                jQuery('div#is_vat_registered').slideUp();
            }
        }
    });
    </script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.close').on('click', close_button_clicked);
            function close_button_clicked() {
                jQuery.ajax({
                url: "{% url 'blogs:unset' %}",
                type: "GET",
                success: function(data) {
                    if(data['success'] == true) {
                        return;
                    }
                    else {
                        alert("There is an error in posting comment");
                    }
                },
                error: function() {
                    alert("There is an error");
                }
                });
             }
    });
    </script>
</body>

