{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Connectivo - Bridging platforms made easy. </title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{% static 'asset/css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'asset/vendors/bootstrap-selector/css/bootstrap-select.min.css' %} ">
    <!--icon font css-->
    <link rel="stylesheet" href=" {% static 'asset/vendors/themify-icon/themify-icons.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/elagent/style.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/font-awesome/css/all.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/flaticon/flaticon.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/animation/animate.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/owl-carousel/assets/owl.carousel.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/magnify-pop/magnific-popup.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/nice-select/nice-select.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/vendors/scroll/jquery.mCustomScrollbar.min.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/css/style.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/css/custom.css' %} ">
    <link rel="stylesheet" href=" {% static 'asset/css/responsive.css' %} ">
  
      <!-- Font Favicon -->
    <link rel="shortcut icon" href="{% static 'asset/image-theme/favicon.png'%}">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    
</head>
<body >
    <div class="body_wrapper">
    {% block content %}
    {% endblock %}

    </div>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'asset/js/propper.js' %} "></script>
    <script src="{% static 'asset/js/jquery-3.2.1.min.js' %} "></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'asset/vendors/bootstrap-selector/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'asset/vendors/wow/wow.min.js' %} "></script>
    <script src="{% static 'asset/vendors/sckroller/jquery.parallax-scroll.js' %} "></script>
    <script src="{% static 'asset/vendors/owl-carousel/owl.carousel.min.js' %} "></script>
    <script src="{% static 'asset/vendors/nice-select/jquery.nice-select.min.js' %} "></script>
    <script src="{% static 'asset/vendors/imagesloaded/imagesloaded.pkgd.min.js' %} "></script>
    <script src="{% static 'asset/vendors/isotope/isotope-min.js' %} "></script>
    <script src="{% static 'asset/vendors/magnify-pop/jquery.magnific-popup.min.js' %} "></script>
    <script src="{% static 'asset/js/plugins.js' %} "></script>
    <script src="{% static 'asset/vendors/scroll/jquery.mCustomScrollbar.concat.min.js' %} "></script>
    <script src="{% static 'asset/js/main.js' %} "></script>
    <script src="{% static 'asset/js/custom.js' %} "></script>
</body>
</html>