<header class="header ">
    <div style="display: none"></div>
    <nav class="navbar navbar-default navbar-fixed-top  hestia_left navbar-not-transparent" style="padding-top: 30px; padding-bottom: 15px; padding-left: 15px; padding-right: 15px;">
        <div class="container">
            <div class="navbar-header">
                <div class="title-logo-wrapper">
                    <a class="navbar-brand" href="#" title="Automatisera Mera">
                        <img src="/static/image-theme/logo.png"  style="width: 140px; padding-top: 0px; padding-right: 15px; padding-bottom: 0px; max-height: 250px; padding-left: 15px; font-family:"Dosis", sans-serif;"
                            alt="Automatisera Mera"></a>
                </div>
                <div class="navbar-toggle-wrapper">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="sr-only">Visa/göm navigering</span>
                    </button>
                </div>
            </div>
            <div id="main-navigation" class="collapse navbar-collapse">
                <ul id="menu-min-meny" class="nav navbar-nav">
                    <li><a href="{% url 'index_page' %}">Hem</a></li>
                    <li><a href="{% url 'index_page' %}">Om oss</a></li>
                    <li><a href="{% url 'integrations_page' %}">Integrationer</a></li>
                    <li><a href="\faq">FAQ</a></li>
                    <li><a href="\blog">Blogg</a></li>
                    <li><a href="{% url 'index_page' %}">Kontakt</a></li>
                    <li class="discover-link"><a href="https://integration.automatiseramera.se"
                            class="external discover-btn">Kundportal</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
