{% load static %}

 <footer class="footer_area footer_seven f_bg">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s">
                                <a href="/" class="f-logo"><img src="{% static 'asset/img/home/logo2.png' %} " srcset="img/logo2x.png 2x" alt=""></a>
                                <div class="">
                                    <p class="f_400 f_p f_size_15 t_color13 mb-0 l_height34">Digitalisering, automatisering och effektivisering får 
                                    oss nördar att
                                     piggna till som bara den! Välkommen att prenumera på nya blogginlägg.</p>
                                    
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-4 col-sm-6">
                            <div class="f_widget about-widget wow fadeInLeft" data-wow-delay="0.5s">
                                <h3 class="f-title f_600 t_color13 f_size_16 mb-30 text-center">Subscribe</h3>
                                <div>
                                    <form>
                                    <div class="text-center">
                                    <input type="text"  style="width: 70%"; class="mysub" placeholder="Enter email" >
                                    </div>
                                    <div class="text-center">
                                    <a type="button" style="width: 70%"; href="#" class="btn btn-sub">Subscribe</a>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="f_widget about-widget wow fadeInLeft" data-wow-delay="0.3s">
                                <h3 class="f-title f_600 t_color13 f_size_16 mb-30">Menu</h3>
                                <ul class="list-unstyled f_list">
                                    <li><a href="{% url 'partners_page' %}">Partners</a></li>
                                    <li><a href="{% url 'privacy_page' %}">Integritetspolicy</a></li>
                                    <li><a href="{% url 'service_page' %}">Tjänsteavtal</a></li>
                                     <li><a href="{% url 'terms_page' %}">Boka telefonmote</a></li>
                                     <li><a href="{% url 'case_studies_page' %}">Kundcases</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <p class="mb-0 f_400">Copyright © 2020 Automatisera Mera</p>
                        </div>
               
                    </div>
                </div>
            </div>
        </footer>
     <form class="search_boxs" role="search">
        <div class="search_box_inner">
            <div class="close_icon">
                <i class="icon_close"></i>
            </div>
            <div class="input-group">
                <input type="text" name="search" class="form_control search-input" placeholder="Search here" autofocus>
                <div class="input-group-append ">
                    <button class="btn btn-outline-secondary" type="button"><i class="icon_search"></i></button>
                </div>
            </div>
        </div>
    </form>

    