{% load static %}
    <!--begin header -->
   <header class="header_area">
            <nav class="navbar navbar-expand-lg menu_seven">
                <div class="container">
                    <a class="navbar-brand sticky_logo" href="/"><img src="{% static 'asset/img/home/logo.png' %} " srcset="{% static 'asset/img/home/logo.png' %}" alt="logo"><img src="{% static 'asset/img/home/logo2.png' %} " srcset="{% static 'asset/img/home/logo2.png' %} " alt=""></a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_toggle">
                            <span class="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <span class="hamburger-cross">
                                <span></span>
                                <span></span>
                            </span>
                        </span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav menu pl_120 mr-auto ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'index_page' %}" >
                                    Hem
                                </a>
                             
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="{% url 'integrations_page' %}">
                                    Integrationer
                                </a>
                              
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'faqs:faq' %}" >
                                    FAQ
                                </a>
                               
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="{% url 'case_studies_page' %}">
                                    Kundcases
                                </a>
                            </li>
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="{% url 'blogs:blog_page' %}">
                                    Blogg
                                </a>
                            </li> 
                            <li class="nav-item dropdown submenu mega_menu">
                                <a class="nav-link dropdown-toggle" href="#contact" >
                                    Kontat
                                </a>
                               
                            </li>
                             <li class="nav-item search"><a class="nav-link search-btn" href="javascript:void(0);"><i class="ti-search"></i></a></li>
                        </ul>
                        <a class="btn_get btn_hover btn_get_radious Cus_seven" href="https://integration.automatiseramera.se">Kundportal</a>
                        
                    </div>
                      
                </div>
            </nav>
        </header>
    <!--end header -->
