
{% load static %}
    <header class="header">

        <!--begin navbar-fixed-top -->
        <nav class="navbar navbar-default navbar-fixed-top">

            <!--begin container -->
            <div class="container">

                <!--begin navbar -->
                <nav class="navbar navbar-expand-lg">

                    <!--begin logo -->
                    <a class="navbar-brand" href="">
                        <img src="{% static 'image-theme/logo.png'%}" style="width: 140px;">
                    </a>
                    <!--end logo -->

                    <!--begin navbar-toggler -->
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <!--end navbar-toggler -->

                    <!--begin navbar-collapse -->
                    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

                        <!--begin navbar-nav -->
                        <ul class="navbar-nav ml-auto">

                            <li><a href="{% url 'landing_page' %}">Hem</a></li>

                            <li><a href="{% url 'landing_page' %}">Om oss</a></li>

                            <li><a href="{% url 'landing_page' %}">Integrationer</a></li>

                            <li><a href="\faq">FAQ</a></li>

                            <li><a href="\blog">Blogg</a></li>

                            <li><a href="{% url 'landing_page' %}">Kontakt</a></li>

                            <li class="discover-link"><a href="https://integration.automatiseramera.se" class="external discover-btn">Kundportal</a>
                            </li>

                        </ul>
                        <!--end navbar-nav -->

                    </div>
                    <!--end navbar-collapse -->

                </nav>
                <!--end navbar -->

            </div>
            <!--end container -->

        </nav>
        <!--end navbar-fixed-top -->

    </header>
