<footer class="footer footer-black footer-big">
    <div class="container">
        <div class="hestia-bottom-footer-content">
            <ul id="menu-primary-menu" class="footer-menu pull-left">
                <li id="menu-item-3534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3534">
                    <a href="https://automatiseramera.se/book-now/">Boka tid för telefonmöte</a></li>
                <li id="menu-item-4831" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4831">
                    <a href="https://automatiseramera.se/login/">Logga in</a></li>
                <li id="menu-item-3533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3533">
                    <a href="https://automatiseramera.se/integritetspolicy/">Integritetspolicy</a></li>
                <li id="menu-item-3537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3537">
                    <a href="https://automatiseramera.se/faq/">Vanliga Frågor</a></li>
                <li id="menu-item-3536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3536">
                    <a href="https://automatiseramera.se/tjansteavtal/">Tjänsteavtal</a></li>
                <li id="menu-item-4830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4830">
                    <a href="https://automatiseramera.se/kopvillkor/">Köpvillkor</a></li>
            </ul>
            <div class="copyright pull-right">
                Hestia | Utvecklat av<a href="https://themeisle.com" rel="nofollow">ThemeIsle</a> </div>
        </div>
    </div>
</footer>
